<div id="atmservice">
			<h2>ATM Service</h2>
			<h3>FREE ATM Service</h3>
			<p>
				FREE ATM transactions are available outside the over 800 Publix&reg; Super Markets located throughout
				the southeast, or at the EXCEL ATM locations listed below.   No Excel service fee ($1.00) and no
				surcharge fee (imposed by terminal owner) apply when using EXCEL and Presto! terminals.
			</p>
			<p class="center">
				<%= image_tag "prestologo.gif", :alt=>"Presto!" %>
				<br />
				<%= link_to "Click here for a Publix&reg; Store near you", "http://store.publix.com/publix/", :rel=>"confirm external" %>
			</p>
			<h3>EXCEL ATM Locations</h3>
			<div class="atmlocations2 clearfix">
				<div class="split50">
					<p>
                    	<span class="bold">Main Office</span><br />
						5070 Peachtree Industrial Blvd.<br />
						Norcross, Georgia 30071<br />
						<span class="bluetext"><strong>Drive-thru ATM</strong></span>
					</p>

					<p>
                    <span class="bold">Atlanta Federal Center</span><br />
						61 Forsyth Street, Suite 8B-70<br />
						Atlanta, Georgia 30303
					</p>

					<p>
                    <span class="bold">Midtown Location</span><br />
						1718 Peachtree Road, N.W.<br />
						Atlanta, Georgia 30309<br />
						<span class="bluetext"><strong>Free-standing ATM</strong></span>
					</p>

					<p>
                    <span class="bold">Fulton County Juvenile Court Building</span><br />
						395 Pryor St. <br />
						Atlanta, Georgia 30312<br />
                        8:30 am – 5:00 pm (M-F)
						
					</p>

					<p>
                    <span class="bold">Fulton County Government Complex</span><br />
						141 Pryor St. S.W.<br />
						Atlanta, Georgia 30303<br />
						<span class="bluetext"><strong>Free-standing ATM<br />Accepts Deposits</strong></span>
					</p>

					<p>
                    <span class="bold">Summit Building</span><br />
						(2nd floor, near the IRS office)<br />
						401 W. Peachtree St, NE<br />
						Atlanta, Georgia 30308-3228<br />
						<span class="bluetext"><strong>Free-standing ATM</strong></span>
					</p>
				</div>
				<div class="split50">

					<p>
                    <span class="bold">HUD Building</span><br />
						40 Marietta Street<br />
						Atlanta, Georgia 30303<br />
						<span class="bluetext"><strong>Free-standing ATM</strong></span><br />
						<span class="redtext2"><strong>Restricted Access</strong></span>
					</p>

					<p>
                    <span class="bold">LexisNexis</span><br />
						(formerly ChoicePoint)<br />
						1100 Alderman Drive<br /> Alpharetta, GA 30005<br />
						<span class="bluetext"><strong>Free-standing ATM<br />Accepts Deposits</strong></span><br />
						<span class="redtext2"><strong>Restricted Access<br />Building Employees Only</strong></span>
					</p>
                   <p>
						1000 Alderman Drive<br />
						Alpharetta, GA 30005<br />
						<span class="bluetext"><strong>Free-standing ATM<br />Accepts Deposits</strong></span><br />
						<span class="redtext2"><strong>Restricted Access<br />Building Employees Only</strong></span>
					</p> 
                    
					<p>
						1200 Bluegrass Lakes Parkway<br />
						Alpharetta, GA 30004<br />
						<span class="bluetext"><strong>Accepts Deposits</strong></span><br />
						<span class="redtext2"><strong>Restricted Access</strong></span>
					</p>    
				</div>
			</div>
			<h3>Nationwide and Worldwide ATM Access</h3>
			<p>
				You may withdraw cash from other ATMs that display any of the logos shown below.&nbsp; The EXCEL
				service fee of $1.00 will apply and be charged at the time of the transaction, plus any surcharge
				fee imposed by the terminal owner.&nbsp; Click on the links below to search for ATM locations
				regionally, nationally and internationally.
			</p>
			<ul id="atmpartners" class="centerblock">
				<li>
					<%= link_to image_tag("cuherelogo.jpg", :alt=>"CU Here"), "http://www.cu24.com/ATMLocator/index.aspx", :rel=>"confirm external" %>						
					<br />
					(no surcharge fee imposed by<br />
					terminal owner at CU Here ATMs)
				</li>
				<li>
					<%= link_to image_tag("coop_with_r2.jpg", :alt=>"CO-OP"), "http://www.co-opfs.org/public/locators/atmlocator/", :rel=>"confirm external" %>
					<br />
					(no surcharge fee imposed by<br />
					terminal owner at CO-OP ATMs)
				</li>
				<li>
					<%= link_to image_tag("logo_pluse.gif", :alt=>"Pulse"), "https://www.pulsenetwork.com/public/index.html", :rel=>"confirm external" %>
				</li>
				<li>
					<%= link_to image_tag("mcatm.jpg", :alt=>"MasterCard"), "http://www.mastercard.com/us/personal/en/cardholderservices/atmlocations/index.html", :rel=>"confirm external" %>
				</li>
				<li>
					<%= link_to image_tag("logo_cu24.gif", :alt=>"CU24"), "http://www.cu24.com/ATMLocator/index.aspx", :rel=>"confirm external" %>
				</li>
			</ul>
		</div>