<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Business Checking</h2>
    <%= image_tag "business_woman.jpg", :alt=>"Business Woman", :width=>157, :height=>236, :class=>"fright" %>
    <p>This account is ideal for the small business owner because it includes:</p>
    <ul>
    <li>No monthly fee for Business Bill Pay and the first 15 bill payment transactions FREE*</li>
    <li>No per check processing fee</li>
    <li>Monthly dividends earned on average daily balances of $5,000 or more**</li>
    <li>Free online banking with <%= link_to "NetBranch", netbranch_path %></li>
    <li>Access to Business Bill Pay </li>
    <li>Up to 24-months of statements available online with eStatements</li>
    <li>Free 24-7 automated phone service with <%= link_to "MoneyLine", phone_path %></li>
    <li>Overdraft protection with line-of-credit available </li>
    <li>3 years of cleared checks available for viewing online </li>
    </ul>
    <p>There is a $100 minimum deposit to open a Business Checking Account. </p>
    <p>* For each business bill payment beyond 15 per month, there is a fee of $.50 cents each. </p>
    <p>** An average daily balance of $5,000 each day is required to earn the monthly dividends. For balances that fall below $1,500 during the month, the account is subject to a minimum balance fee of $15 once during the month. </p>
    <p><%= link_to "Contact us", contact_path %> for more information, or submit an <%= link_to "online application", "pdf/Signature Card Business Account.pdf" %> now. </p>
</div>
  </div>
 </div>
