<div id="container2">
  <div class="banner">
  	<div class="inxleft">
    <h3>Business Services</h3>
    <p>We are designed to assist business owners in identifying their most important financial needs and dedicated to finding financial solutions to meet those needs. Whether your current objective is to purchase a business or a building, refinance a variable rate loan, acquire additional funding for expansion, or reduce credit card processing expenses, we can help.</p>
    <p>Our list of services for the small business owner includes:</p>
    
    <ul>
    	<li>Free Online Business Banking </li>
        <li>Free Business Checking Services</li>
        <li>Access to Bill Pay Service and QuickBooks Download</li>
        <li>Business Savings Account</li>
        <li>Small Business Loans</li>
        <li>Commercial Mortgage Loans</li>
        <li>SBA 504 Loans</li>
        <li>Merchant Processing</li>
        <li>Courier Pick Up &amp; Deposit Services</li>
        <li>Payroll Processing, Retirement Planning &amp; Health Insurance Programs</li>
    </ul>
    
    <p>Need more information on how we can save your business money? Fill out and submit the <%= link_to "Business Survey", "pdf/survey.pdf", :rel=>"external" %> form. </p>
    
    
    </div>
    <div class="inxright clearfix">
    <ul>
    	<li><%= link_to "Business Loans", business_loans_path %></li>
        <li><%= link_to "Business Checking", business_checking_path %></li>
        <li><%= link_to "Quickbooks Services", business_quickbooks_path %></li>
        <li><%= link_to "Business Savings", business_savings_path %></li>
        <li><%= link_to "Commercial Mortgage Loans", "http://www.cubsllc.com", :rel=>"confirm external" %></li>
        <li><%= link_to "Courier Pick-up Services", business_courier_path %></li>
        <li><%= link_to "Health Insurance", business_payroll_path %></li>
        <li><%= link_to "Merchant Processing", business_merchant_path %></li>
        <li><%= link_to "Payroll Processing", business_payroll_path %></li>
        <li><%= link_to "Retirement Planning", business_payroll_path %></li>
        <li><%= link_to "Business Bill Pay and Demo", "https://www.businessbillpay-e.com/v2/login.aspx?instid=38905", :rel="confirm external" %></li>

    </ul>
    
    <p class="center"><%= image_tag "business_inx.jpg", :alt=>"", :width=>183, :height=>183 %></p>
    </div>
  </div>
 </div>
