<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Business Account Requirements</h2>

   <p>Excel Federal Credit Union is experienced in working with many different types of businesses, including sole proprietorships, partnerships, limited liability companies, corporations and associations. </p>
   <p>The documentation needed to open a business account varies depending on how the business is structured. </p>
   <p>Please refer to the list below for the documentation necessary to open an EXCEL business account.</p>
   
   <p class="bluetext bold">Corporations:</p>
   <ul>
   		<li>Tax ID Number</li>
        <li>Valid ID For All Account Signers</li>
        <li>Business License/Occupational Tax Certificate for Current Year</li>
        <li>Articles of Incorporation/By-Laws</li>
        <li><%= link_to "Corporate Resolution Form", "pdf/businessacct/CORPORATE RESOLUTION.pdf", :rel=>"external" %> Completed</li>
   </ul>
   
   <p class="bluetext bold">Partnerships:</p>
   <ul>
   		<li>Tax ID Number</li>
        <li>Valid ID for All Account Signers</li>
        <li>Business License/Occupational Tax Certificate for Current Year</li>
        <li>Partnership Agreement</li>
        <li><%= link_to "Partnership Resolution Form", "pdf/businessacct/Partnership Account Authorization.pdf", :rel=>"external" %> Completed</li>
   </ul>
   
   <p class="bluetext bold">Limited Liability Corporations:</p>
   <ul>
   		<li>Tax ID Number</li>
        <li>Valid ID for All Account Signers</li>
        <li>Business License/Occupational Tax Certificate for Current Year</li>
        <li>Partnership Agreement</li>
        <li>LLC Articles of Organization</li>
        <li>LLC Operating Agreement</li>
        <li><%= link_to "LLC Authorization Form", "pdf/businessacct/LLC Account Authorization.pdf", :rel=>"external" %> Completed</li>
   </ul>
   
   <p class="bluetext bold">Sole Proprietorships:</p>
   <ul>
   		<li>Social Security Number or Tax ID Number</li>
        <li>Valid ID for All Account Signers</li>
        <li>Trade Name/Fictitious Name Affidavit</li>
        <li><%= link_to "Account Authorization Form", "pdf/businessacct/SOLE PROPRIETOR ACCOUNT AUTHORIZATION.pdf", :rel=>"external" %> Completed </li>
   </ul>
   
   <p class="bluetext bold">Associations:</p>
   <ul>
   		<li>Tax ID Number</li>
        <li>Valid ID for All Account Signers</li>
        <li>Charters/By-Laws</li>
        <li><%= link_to "Association Account Authorization Form", "pdf/businessacct/ASSOCIATION ACCOUNT AUTHORIZATION.pdf", :rel=>"external" %> Completed </li>
   </ul>
</div>
  </div>
 </div>
