<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Financial Calculators</h2>
    <div class="calculators clearfix">
    <p class="blueheader topspace">Home Calculators</p>
	<ul>
		<li><%= link_to "How much home can I afford?", "http://www.culookup.com/IFrameCalculators/Home/HomeAffordability?cuid=317", :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/HomeAffordability?cuid=317','HomeAfford','width=750px, height=925px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Should I refinance my home?", "http://www.culookup.com/IFrameCalculators/Home/HomeRefinance?cuid=317",  :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/HomeRefinance?cuid=317','HomeRefi','width=750px, height=950px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Should I pay discount points?", "http://www.culookup.com/IFrameCalculators/Home/DiscountPoints?cuid=317", :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/DiscountPoints?cuid=317','HomeDiscountPoints','width=750px, height=850px, scrollbars=yes, resizable=yes'); return false" %></li>
       
        <li><%= link_to "Mortgage Payment Calculator", "http://www.culookup.com/IFrameCalculators/Home/MortgageCalculator?cuid=317", :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/MortgageCalculator?cuid=317','HomePaymentCalculator','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Comparing mortgages (i.e. 15, 20, 30 year).", "http://www.culookup.com/IFrameCalculators/Home/MortgageCompare?cuid=317", :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/MortgageCompare?cuid=317','HomeMortgageCompare','width=750px, height=825px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "What is the Loan to Value Ratio of my home?", "http://www.culookup.com/IFrameCalculators/Home/HomeLTV?cuid=317", :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/HomeLTV?cuid=317','HomeLTV','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Should I make extra payments on my mortgage?", "http://www.culookup.com/IFrameCalculators/Home/ExtraPayments?cuid=317", :onclick=>" javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/ExtraPayments?cuid=317','HomeExtraPayments','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>       
        <li><%= link_to "How much of a down payment should I make on my new home?", "http://www.culookup.com/IFrameCalculators/Home/DownPayments?cuid=317", :onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Home/DownPayments?cuid=317','HomeDownPayment','width=750px, height=900px, scrollbars=yes, resizable=yes'); return false" %></li> 
    </ul>
    
    <p class="blueheader topspace">Savings Calculators</p>
    <ul>
    	<li><%= link_to "How long will it take to become a millionaire?", "http://www.culookup.com/IFrameCalculators/Savings/BecomeaMillionaire?cuid=317",:onclick=>"javascript:window.open('http://www.culookup.com/IFrameCalculators/Savings/BecomeaMillionaire?cuid=317','SavingsMillionaire','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How long until I reach my savings goal?", "http://www.culookup.com/IFrameCalculators/Savings/ReachSavingsGoal?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/ReachSavingsGoal?cuid=317','SavingsReachGoal','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much should I save for college?", "http://www.culookup.com/IFrameCalculators/Savings/SaveforCollege?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/SaveforCollege?cuid=317','SavingsCollege','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How can I save for a big ticket item?", "http://www.culookup.com/IFrameCalculators/Savings/SaveforBigItem?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/SaveforBigItem?cuid=317','SavingsBigTicket','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much will my CD be worth at maturity?", "http://www.culookup.com/IFrameCalculators/Savings/WhatisCDWorth?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/WhatisCDWorth?cuid=317','SavingsCD','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How do taxes and inflation affect my savings?", "http://www.culookup.com/IFrameCalculators/Savings/TaxesandInflation?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/TaxesandInflation?cuid=317','SavingsTaxes','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
    </ul>
    
    <p class="blueheader topspace">Retirement Calculators</p>
    <ul>
    	<li><%= link_to "How much will I need to save for retirement?", "http://www.culookup.com/IFrameCalculators/Retirement/SaveForRetirement?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/SaveForRetirement?cuid=317','RetirementSave','width=750px, height=900px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much will I receive in Social Security?", "http://www.culookup.com/IFrameCalculators/Retirement/SocialSecurityEstimator?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/SocialSecurityEstimator?cuid=317','RetirementSocialSecurity','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "I'm retired, how long will my savings last?", "http://www.culookup.com/IFrameCalculators/Retirement/RetirementSavings?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/RetirementSavings?cuid=317','RetirementSavingsLast','width=750px, height=850px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much can I save with my 401(k)?", "http://www.culookup.com/IFrameCalculators/Retirement/Project401KSavings?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/Project401KSavings?cuid=317','RetirementSave401K','width=750px, height=850px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Compare Roth 401(k) and Traditional 401(k) retirement savings plans.", "http://www.culookup.com/IFrameCalculators/Retirement/RothVersesTraditional401K?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/RothVersesTraditional401K?cuid=317','RetirementRothVersus401K','width=750px, height=850px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much will inflation affect my retirement?", "http://www.culookup.com/IFrameCalculators/Retirement/RetirementInflation?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/RetirementInflation?cuid=317','RetirementInflation','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
    </ul>
    
    <p class="blueheader topspace">Credit Calculators</p>
    <ul>
        <li><%= link_to "How long will it take to pay off my loan?", "http://www.culookup.com/IFrameCalculators/Credit/PayoffLoanBalance?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/PayoffLoanBalance?cuid=317','CreditLoanPayoff','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Should I consolidate my debts?", "http://www.culookup.com/IFrameCalculators/Credit/ConsolidateDebts?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/ConsolidateDebts?cuid=317','CreditConsolidate','width=750px, height=1050px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How will extra payments affect my loan?", "http://www.culookup.com/IFrameCalculators/Credit/ExtraLoanPayments?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/ExtraLoanPayments?cuid=317','CreditExtraPayments','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Loan Payment Calculator", "http://www.culookup.com/IFrameCalculators/Credit/LoanCalculator?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/LoanCalculator?cuid=317','CreditPaymentCalculator','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
    	<li><%= link_to "How long will it take to pay off my credit card(s)?", "http://www.culookup.com/IFrameCalculators/Credit/CreditCardPayoff?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/CreditCardPayoff?cuid=317','CreditCardPayoff','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>        
    </ul>
    
		<p class="blueheader topspace">Auto Calculators</p>
    <ul>
    	<li><%= link_to "Should I lease or purchase a car?", "http://www.culookup.com/IFrameCalculators/Auto/BuyVersusLease?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/BuyVersusLease?cuid=317','AutoBuyLease','width=750px, height=900px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much will my auto payments be?", "http://www.culookup.com/IFrameCalculators/Auto/AutoCalculator?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/AutoCalculator?cuid=317','AutoPayments','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Should I take a rebate or low-cost financing?", "http://www.culookup.com/IFrameCalculators/Auto/AutoRebate?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/AutoRebate?cuid=317','AutoRebate','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "Should I accelerate my auto payments?", "http://www.culookup.com/IFrameCalculators/Auto/ExtraAutoPayments?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/ExtraAutoPayments?cuid=317','AutoExtraPayments','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
        <li><%= link_to "How much car can I afford?", "http://www.culookup.com/IFrameCalculators/Auto/AutoAfford?cuid=317", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/AutoAfford?cuid=317','AutoAfford','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></li>
</ul>
    </div>

    </div>
  </div>
 </div>