<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Checking Account Switch Kit</h2>
    <p>Are you ready to switch your checking account to EXCEL? Be sure to have your   EXCEL member number and checking account number ready to make switching easy. If   you are not already a member or have not opened your EXCEL Federal Credit Union   checking account yet, contact a member service representative at 770-441-9235 or   submit a <%= link_to "Membership Application", new_membershipagree_path, :rel=>"external" %>. We can open most new accounts over the phone.</p>
   <p>
  Follow the Account Conversion Checklist below and switch with ease!</p>
  	<p>Please <%= link_to "call", contact_path %> if you need assistance. We   can mail these forms to you if you are unable to print them. </p>
  	<p class="redtext2">Account Conversion Checklist</p>               
  	<p>Use this 5-step checklist to switch your account from another financial institution to EXCEL Federal Credit Union.  </p>  
  	<ol>
  	  <li>Have your EXCEL Federal Credit Union checking account number available. If you   have not opened your EXCEL checking account, <%= link_to "contact", contact_path %> a member service representative   for quick assistance or submit an updated <%= link_to "Membership Application and Signature Card", new_membershipagree_path, :rel=>"external" %> indicating the type   of EXCEL checking account you would like to add (review our checking account   options by clicking <%= link_to "here", checking_accts_path %>). We will need a copy of   the completed Membership Application and Signature Card, along with a copy of   your driver's license, on file in order to open your checking account (all can   be faxed to 770-582-3877).</li>
  	  <li>Verify that all checks you have written have cleared the account you are   planning to close, or note the checks and amounts that have not cleared. When   closing the old checking account, be sure to leave sufficient funds in the   account to cover the checks you have written, but have not yet cleared.</li>
  	  <li>Make a list of all direct deposits coming into your account (employer payroll,   cafeteria plan administrator, Social Security or other government benefits,   investment interest payments, etc.). Examine your last statement to make this   list. Use the <%= link_to "Direct Deposit Add/Change Form", "pdf/ddchange.pdf", :rel=>"external" %> to send written notice to each depositor. Each   depositor requires written notification to change your direct deposit   instructions. Most direct deposit changes do not occur immediately. Check with   each depositor to determine how far in advance of the deposit you must provide   your change notice. In order to disperse your direct deposit amongst multiple   EXCEL accounts, complete the <%= link_to "payroll allocation", "pdf/Direct Deposit  Payroll Allocation Form.pdf", :rel=>"external" %> form. You can automatically disperse funds   to savings, checking and loan accounts on a regular basis through payroll   allocation.</li>
  	  <li>Make a list of any automatic payments coming out of your account (utility   companies, insurance companies, Internet service provider, loan payments to   other lenders, etc.). Examine your last statement to make this list. Use the <%= link_to "Automatic Payment Change Form", "pdf/apchange.pdf", :rel=>"external" %> to send written notice to each payee. Each payee requires written   notification to change your automatic payment instructions. Most automatic   payment changes do not occur immediately. Check with each payee to determine how   far in advance of the automatic payment you must provide your change notice.   Leave sufficient funds in your account to cover all automatic payments until all   payees are able to make the change.</li>
  	  <li>Contact your current financial institution to close your   account. Use the <%= link_to "Account Closure Form", "pdf/accclosure.pdf", :rel=>"external" %> to send written notice to your current financial institution of your decision to close your account.
      </li>
	  </ol>
    </div>
  </div>
 </div>
