<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2><%= image_tag "mastercard.jpg", :alt=>"", :width=>180, :height=>123 %><br />
      Debit/Check Cards</h2>
    <p>A MasterCard&reg; Debit Card is issued in conjunction with your EXCEL checking account. Debit cards are easy to use and reduce the need for paper checks. The EXCEL debit card is accepted nationwide and wherever you see the MasterCard&reg; emblem displayed.</p>
    <p>EXCEL debit cards earn <%= link_to "ScoreCard&reg; Reward", "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %> points. For each qualifying dollar you spend and authorize with your signature, you earn one point redeemable for travel and merchandise.</p>
    <p>By signing for your purchases you not only earn rewards, you also protect yourself from fraudulent purchases. Entering your PIN to authorize your transactions can leave your PIN vulnerable to theft. PIN based transactions are not covered under MasterCard's zero-liability plan. With identity theft and card fraud on the rise, it's important to authorize purchases with your signature.</p>
    <p>Need a MasterCard&reg; debit card? Submit a <%= link_to "debit card application", new_atmdebitcardapp_path %> online and start earning points each time you swipe your card and sign (remember PIN based transactions do not apply)!</p>
    <p>Please <%= link_to "contact us", contact_path %> if you have any other questions about the MasterCard&reg; Debit Card. <%= link_to "Click here", lost_path %> to report a lost or stolen debit card.</p>
	</div>
  </div>
 </div>
