<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Checking Accounts</h2>
    <p>At EXCEL, you can choose from two terrific checking plans:</p>
    <ul>
    <li><span class="bluetext bold">Simply Checking</span> offers no monthly service fees, no minimum balance requirement and no per-check charges. </li>
    <li><span class="bluetext bold">Platinum Checking</span> offers dividends on accounts that maintain an average daily balance of $2,500 or more during the statement period. Platinum checking also offers FREE checks! There is a $600 minimum balance required with Platinum Checking to avoid the monthly minimum balance fee. </li>
    </ul>
    <p>We also offer <%= link_to "CU Succeed Teen Checking", teen_path %>, for our members ages 13 to 17, with no minimum balance   requirements, no monthly service fees and no per-check charges. </p>
    <p>These features apply to all checking accounts with EXCEL Federal Credit Union: <%= image_tag "checking_inx.jpg", :alt=>"", :width=>275, :height=>115, :class=>"fright image" %></p>
	<ul>
    <li>FREE ATM service at the over 800 Presto! machines outside Publix© Grocery stores located throughout the southeast. </li>
    <li>No-fee EXCEL <%= link_to "ATMs", atmlocations_path %> at nine area locations</li>
    <li>Access to over 45,000 surcharge free (no terminal owner fee) CUHERE ATMs located throughout the U.S. ($1.00 EXCEL fee applies).</li>
    <li>ATM access worldwide ($1.00 EXCEL fee and terminal owner surcharge fee may apply).</li>
    <li>FREE and easy online bill pay service through <%= link_to "NetBranch", netbranch_path %> our online banking system.</li>
    <li>No-fee <%= link_to "MasterCard&reg; Debit Card", checking_checkcard_path %> that offers <%= link_to "ScoreCard&reg; Rewards", scorecard_path %> for each dollar you spend with your card and authorize with a signature, good towards travel and merchandise.</li>
    <li>Paperless <%= link_to "eStatements", estatements_path %> available free </li>
    <li>Account access through <%= link_to "MoneyLine", phone_path %>, our 24-hour telephone response system</li>
    <li>Pre-authorized automatic drafts (no charge)</li>
    <li><%= link_to "Overdraft protection", checking_overdraft_path %> from savings or a pre-approved line of credit</li>
    <li>Consolidated monthly statements </li>
    <li>Direct deposit to one or several accounts </li>
    <li>Wire transfer of funds to outside accounts </li>
    <li>Stop payment options and assistance</li>
   </ul>
    <p>Please <%= link_to "contact us", contact_path %> for more information about our checking accounts or submit a checking account <%= link_to "application", new_shareapp_path %> now.</p>
    <p class="disclaimer center">Federally Insured by NCUA<br /><%= image_tag "ncuablackwhite.jpg", :alt=>"" %></p>
    </div>
  </div>
 </div>
