<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Frequently Asked Questions</h2>
	<p><span class="bold">1. Who do I call to report a lost or stolen MasterCard&reg; Debit Card? </span><br />
    Please call 1(800) 500-1044 to report a lost or stolen debit card.
    </p>
    <p><span class="bold">2. Who do I call to report a lost or stolen VISA&reg; Credit Card?
</span><br />
    Please call 1(800) 237-6211 to report your lost credit card. 
    </p>
    <p><span class="bold">3. How do I change my address? 
</span><br />
    Under the <%= link_to "Forms", forms_app_inx_path %> link there is a <%= link_to "Change of Address", "pdf/change_address.pdf", :rel=>"external" %> form to fill out, sign and fax to our Member Service Department at (770) 582-3877. </p>
    <p><span class="bold">4. How do I join EXCEL Federal Credit Union?</span><br />
    Joining EXCEL FCU is easy! If your employer or association is already listed on our <%= link_to "Approved Member Groups", member_groups_path %> list, simply fill out and submit a <%= link_to "Membership Application", new_membershipagree_path %>. Shortly after receiving this application, we will contact you to review your information. If your organization is not on the <%= link_to "Approved Member Groups", member_groups_path %> list, have your human resources department or your organization's leader submit a <%= link_to "Request to Become A Member Group", "pdf/Request to Become.pdf", :rel=>"external" %>. </p>
    <p><span class="bold">5. Routing Number? 
</span><br />
    261071548
    </p>
    <p><span class="bold">6. How do I get a password to access EXCEL's FREE online banking system (NetBranch)?</span><br />
    The password used for NetBranch is the same one used for MoneyLine (our 24-hour automated telephone response system) and our mobile banking service. You can change your password, either through NetBranch or through MoneyLine. The revised password will work for both systems. Your password can range from 8 to 15 characters. If you don't currently have a password, please <%= link_to "contact", contact_path %> member services or submit an online <%= link_to "Password Request", new_pinrequest_path %>. We'll respond to your request no later than the next business day. </p>
    <p><span class="bold">7. Can I download information from NetBranch to my financial management software?</span><br />
    Yes, NetBranch allows downloading to either Quicken or Microsoft Money.
    </p>
    <p><span class="bold">8. What about security issues? Can other people see my accounts or watch what I'm doing with my transactions?
</span><br />
    We use the best available technology in security, firewalls and encryption. Also, if your NetBranch session is inactive for more than a few minutes, the session will "time out", requiring you to enter your account number and PIN again before continuing. As an additional security measure, NetBranch will only accept three(3) invalid PIN attempts before locking the account out. We advise you not to share your PIN with others, or to keep it in a place that is readily accessible to others. For more information about the steps we take to guard your accounts, please review our <%= link_to "Security Section", security_path %>. </p>
    <p><span class="bold">9. Does EXCEL offer FREE Bill Pay Services? How do I access Bill Pay?
</span><br />
    Yes! EXCEL offers FREE Bill Pay Service. You must have an EXCEL checking account prior to setting up your bill pay service with EXCEL. To establish bill pay, logon to NetBranch Online Banking using your member number and password and click on the "Bill Pay" link at the top of the screen. If you don't have a password, submit an online password request. After you have logged onto NetBranch Online Banking, you will be asked a few questions and will need to "accept" the terms in our "Electronic Services Disclosure &amp; Agreement".. This process takes only a few minutes. Once you have completed these steps, you will be able to use our "Bill Pay" services no later than the next business day. Please call 770-441-9235 if you have additional questions or view our <%= link_to "Bill Pay video", "http://www.clickvue.com/bp/excel0819.html", :rel=>"confirm external" %> for more information. If you don't have a checking account and would like to open one, complete our online <%= link_to "checking account application", new_shareapp_path %>. </p>
    <p><span class="bold">10. Where do I find EXCEL Federal Credit Union's rates?
</span><br />
    Rates for our Loan and Savings products are listed under the Rates section. You may also contact our Member Service Department at (770) 441-9235 for additional information. Rates may change at any time without notice.
    </p>
    <p><span class="bold">11. How do I order/reorder checks?
</span><br />
    EXCEL FCU has recently changed check companies from Liberty to Deluxe. If you are ordering checks for the first time OR reordering checks for the first time, please contact our Member Service Department at (770) 441-9235.</p>
    <p>If you have already received checks from Deluxe and you need to reorder, there is a link in NetBranch to the Deluxe site where you may reorder your checks. You may also go to <%= link_to "www.deluxe.com", "http://www.deluxe.com/", :rel=>"confirm external" %> directly to reorder checks. </p>
    <p><span class="bold">12. How do I place a stop payment on a check?
</span><br />
    You may go through NetBranch to print, sign and fax the appropriate form to (770) 582-3877 or you may contact our Member Service Department directly at (770) 441-9235.
    </p>
    <p><span class="bold">13. What are the hours of operation for EFCU?</span><br />
    Hours for all branches are Monday through Friday 9am - 4pm
    </p>
    <p><span class="bold">14. What is the MoneyLine telephone number?
</span><br />
    Use our main telephone numbers to access MoneyLine at (770) 441-9235 (press 1) or 1(888)441-9235 (press 1).
    </p>
    <p><span class="bold">15. What are the different functions I may use MoneyLine for?
</span></p>
    You may use the MoneyLine to:
    <ul>
    <li>Check the balance in your account(s)</li>
    <li>Request a withdrawal by check</li>
    <li>Inquire about your last few deposits, withdrawals and transactions</li>
    <li>Confirm checks that have cleared</li>
    <li>Make loan payment transfers</li>
    </ul>
    
    <p><span class="bold">16. How do I order copies of my cleared checks?
</span><br />
    If you wrote the check and it was paid within the last 18 months, logon to NetBranch Online Banking using your Excel member number and password and select “cleared checks” to locate the check in question. If the check is older than 18 months, please call Member Services at (770) 441-9235 and they will be able to assist you. There is a $2.00 per check fee if Member Services needs to print checks for you.</p>
    <p>If you made the payment through our Bill Pay Service, you can locate a copy of the check that was issued on your behalf, or verify that an ACH payment was made, by logging onto NetBranch, selecting Bill Pay, and then searching under the “Payments” tab.
    </p>
    <p><span class="bold">17. How do I begin using BillPay?
</span><br />
    Log onto <%= link_to "www.excelfcu.org", root_path %> and sign into <%= link_to "NetBranch", netbranch_path %> to take advantage of this FREE service. You will need your account number and your password/PIN to logon. If you don't have a password, use the <%= link_to "Password/PIN Request form", new_pinrequest_path %>. After logging onto NetBranch, select "Bill Pay" at the top of the screen to sign up and request approval to use Bill Pay. Typically we can have you set up to use our Bill Pay service by the next business day. If you have any questions or need assistance contact Member Services at (770) 441-9235.
    </p>
</div>
  </div>
 </div>
