<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Links &amp; Resources</h2>
    <table id="buspay" class="center">
  <tr>
    <td><%= link_to image_tag("logo_verified.gif", :alt=>"", :width=>115, :height=>70), "https://usa.visa.com/personal/security/vbv/index.html?it=searchQuicklink", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("logo_deluxe.gif", :alt=>"", :width=>160, :height=>75), "https://www.deluxe-check-order.com/ReorderHome.jsp", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("logo_cu24.gif", :alt=>"", :width=>142, :height=>70), "http://www.cu24.com/ATMLocator/index.aspx", :rel=>"confirm external" %></td>
  </tr>
  <tr>
    <td><%= link_to image_tag("logo_carsolutions.gif", :alt=>"", :width=>130, :height=>47), "http://www.carsolutions.com/", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("logo_cufs.gif", :alt=>"", :width=>80, :height=>45), "http://www.cufs.org/", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("prestologo.gif", :alt=>"", :width=>161, :height=>62), "http://store.publix.com/publix/", :rel=>"confirm external" %></td>
  </tr>
  <tr>
    <td><%= link_to image_tag("logo_scorecard.gif", :alt=>"", :width=>128, :height=>63), "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("logo_cusucceed.gif", :alt=>"", :width=>150, :height=>136), "http://www.cusucceed.net/index.php?cuid=10767981", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("logo_carfax1.gif", :alt=>"", :width=>84, :height=>60), "http://www.carfax.com/", :rel=>"confirm external" %></td>
  </tr>
  <tr class="center">
    <td><%= link_to image_tag("logo_mastercard.gif", :alt=>"", :width=>115, :height=>50), "https://secure4.arcot.com/vpas/ICPT0567_mc/enroll/index.jsp?locale=en_US&amp;bankid=3251", :rel=>"confirm external" %></td>
    <td><%= link_to image_tag("wall-street-journal-2006-logo-125.gif", :alt=>"", :width=>125, :height=>162), "http://online.wsj.com/home-page", :rel=>"confirm external" %></td>
    <td><%= link_to "Financial Calculators", calculators_path, :class=>"blueheader" %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= link_to image_tag("gaalogo.gif", :alt=>"", :width=>150, :height=>44), "http://www.gettingaheadcenter.com/", :rel=>"confirm external" %></td>
    <td>&nbsp;</td>
  </tr>
</table>
    </div>
  </div>
 </div>