<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Other Loans</h2>
    <p>Ready to add to your leisure-time fun with a boat, personal watercraft or motor   home? Let EXCEL help you finance those dreams. All loans come with competitive <%= link_to "rates", rates_loan_consumer_path %> and efficient personalized service. We   offer loans for: </p>
    <%= image_tag "other.jpg", :alt=>"", :width=>275, :height=>115, :class=>"fright image" %>
<ul>
  <li>RV</li>
  <li>Motorcycles</li>
  <li>Jet Skis</li>
  <li>All Terrain Vehicles</li>
  <li>Boats</li>
</ul>
    
    <p>Submit your <%= link_to "loan application", new_loanapp_path %> now or call 770-441-9235. View our <%= link_to "rates and terms", rates_loan_path %> on the EXCEL loans listed above or <%= link_to "click here", calculators_path %> for loan calculators.</p>
    </div>
  </div>
 </div>
