<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <p class="center"><%= link_to image_tag("visaatm.jpg", :alt=>"", :width=>138, :height=>42), "https://usa.visa.com/personal/security/vbv/index.html?it=searchQuicklink",  :rel=>"confirm external" %></p>
    <h2>VISA&reg; Credit Cards</h2>
    <p>EXCEL offers VISA&reg; credit cards with low rates and <%= link_to "ScoreCard&reg; Rewards", "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %>! </p>
	<p>We offer one reward point for every dollar you spend and authorize with your signature. Reward points are redeemable for travel and merchandise. </p>
    <p>With EXCEL, you can combine your points and earn your rewards faster. Points from EXCEL debit and credit cards can be combined, and members within the same household can combine points to earn maximum rewards!</p>
    <p>Not all financial institutions offer this many ways to earn travel &amp; merchandise rewards. </p>
    <p>Visit the <%= link_to "ScoreCard&reg; Rewards", "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %> website to see a complete list of award options. </p>
    <p>Listed below are the credit cards we offer. The credit card that you qualify for will depend on your credit history.
    Remember to watch out for these <%= link_to "credit pitfalls", "pdf/credit_pitfalls.pdf", :rel=>"external" %> when using credit cards.</p>
    <p>If you would like to transfer balances from higher interest rate cards, be sure to fill out a <%= link_to "Balance Transfer Form", "pdf/Balance Transfers Form.pdf" %> and submit it along with your <%= link_to "Credit Card Application", new_ccdisclosure_path %>. There are no fees to transfer balances to an EXCEL credit card, although certain restrictions may apply. </p>
    <p>You may also call 770-441-9235 or 1-888-441-9235 and select option 7 to speak with a member service representative.</p>
    <p>Apply now for your EXCEL credit card with our online <%= link_to "Credit Card Application", new_ccdisclosure_path %>.</p>
    <p class="redtext2">Platinum VISA&reg;:</p>
    <ul>
    	<li>Low rate of 9.00% APR**</li>
        <li>Earn points for travel and merchandise through our <%= link_to "ScoreCard&reg; Rewards", "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %> Program</li>
        <li>No Annual Fee</li>
        <li>Auto Rental Insurance</li>
    </ul>
    
    <p class="redtext2">Gold VISA&reg;:</p>
    <ul>
    	<li>Low rate of 12.00% APR** </li>
        <li>Earn points for travel and merchandise through our <%= link_to "ScoreCard&reg; Rewards", "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %> Program</li>
        <li>No Annual Fees</li>
        <li>Auto Rental Insurance</li>
    </ul>
    
    <p class="redtext2">Classic VISA&reg;:</p>
    <ul>
    	<li>Fixed rate of 16.50% APR** </li>
        <li>Earn points for travel and merchandise through our <%= link_to "ScoreCard&reg; Rewards", "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %> Program</li>
        <li>$25.00 Annual Fee</li>
        <li>Auto Rental Insurance</li>
    </ul>
			    <table border="1" cellpadding="0" cellspacing="0" class="visarates" id="center">
                            <tr>
                              <td>Type of VISA Card*</td>
                              <td>Annual Percentage Rate **</td>
                              <td>Annual Membership Fee</td>
                              <td>Grace Period ***</td>
                              <td>Method Used to Compute Finance Charges for Cash Advances ****</td>
                              <td>Method Used to Compute Finance Charges for Purchases ****</td>
                              <td>Late Payment Fee</td>
                              <td>Over the Limit Fee</td>
                              <td>Cash Advance Fee</td>
                              <td>ScoreCard&reg; Rewards</td>
</tr>
                            <tr>
                              <td>Platinum VISA</td>
                              <td class="large">9.00%<br/></td>
                              <td>NO Annual Fee</td>
                              <td>25 Days</td>
                              <td>Method A</td>
                              <td>Method E</td>
                              <td>$25.00</td>
                              <td>$0.00</td>
                              <td>$0.00</td>
                              <td>Yes</td>
                            </tr>
                            <tr>
                              <td>Gold VISA</td>
                              <td class="large">12.00%</td>
                              <td>NO Annual Fee</td>
                              <td>25 Days</td>
                              <td>Method A</td>
                              <td>Method E</td>
                              <td>$25.00</td>
                              <td>$0.00</td>
                              <td>$0.00</td>
                              <td>Yes</td>
                            </tr>
                            <tr>
                              <td>Classic VISA</td>
                              <td class="large">16.50%</td>
                              <td>$25.00 Annual Fee</td>
                              <td>25 Days</td>
                              <td>Method A</td>
                              <td>Method E</td>
                              <td>$25.00</td>
                              <td>$0.00</td>
                              <td>$0.00</td>
                              <td>Yes</td>
                            </tr>
                          </table>
                          
                          <p class="disclaimer">*The type of VISA&reg; card issued is based on the applicant's credit score.</p>
                          <p class="disclaimer">**Annual Percentage Rate. This rate is subject to change, at the discretion of credit union management and the board of directors, with 45 days notice.</p>
                          <p class="disclaimer">*** Grace period applies to purchases only. There is no grace period for cash advances.</p>
<p class="disclaimer">****Explanation of Methods Used to Compute Finance Charges for Cash Advances and Purchases: </p>
                          <p>Please <%= link_to "click here", lost_path %> to report a lost or stolen EXCEL Platinum VISA&reg;, Prime Platinum VISA&reg;, Gold VISA&reg; or the Classic VISA&reg; credit card or <%= link_to "click here", calculators_path %> for the credit card payoff calculator. </p>                          
                          <p class="disclaimer"><span class="bluetext bold">Method A</span> - Average Daily Balance (including current transactions). The <span class="bold">Finance Charge</span> on cash advances begins from the date you obtained the cash advance, or the first day of the billing cycle in which it is posted to your account, whichever is later. There is no grace period. The <span class="bold">Finance Charges</span> for a billing cycle are computed by applying the monthly Periodic Rate, which is the Annual Percentage Rate divided by 12 months, to the &quot;average daily balance&quot; of your account. To get the average daily balance, we take the beginning balance of your account each day, add any new purchases or cash advances, and subtract any payments, credits, non-accruing fees, and unpaid finance charges. This gives us the daily balance. Then we add up all the daily balances for the billing cycle and divide the total by the number of days in the billing cycle.</p>
				  <p class="disclaimer"><span class="bluetext bold">Method E</span> - Average Daily Balance (excluding current transactions) - Purchases. To avoid incurring an additional <span class="bold">Finance Charge</span> on the balance of purchases reflected on your monthly statement, you must pay the New Balance shown on your monthly statement on or before the Payment Due Date. The grace period for New Balance of purchases extends to the payment due date. The <span class="bold">Finance Charges</span> for a billing cycle are computed by applying the monthly Periodic Rate, which is the annual percentage rate divided by 12 months, to the &quot;average daily balance&quot; of your account. To get the average daily balance, we take the beginning balance of your account each day, add any new purchases or cash advances, and subtract any payments, credits, non-accruing fees, and unpaid finance charges. This gives us the daily balance. Then we add up all the daily balances for the billing cycle and divide the total by the number of days in the billing cycle.</p>
                          <p class="center"><%= image_tag "equal_housecomp.gif", :alt=>"", :width=>153, :height=>94 %></p>
    </div>  
  </div>
 </div>
