<div id="container2">
  <div class="banner">
  	<div class="inxleft">
    <h2>Loans</h2>
    <p>EXCEL offers a wide range of loans at very competitive <%= link_to "rates", rates_inx_path %>, with fast and friendly service. Our Loan   Department features mortgage loans, auto loans, home equity loans and various other loan products. For information on these and other loan products please   click on a link in the menu to the right or submit a <%= link_to "loan application", new_loanapp_path %> now.   We can have your loan approved by the next business day.</p>
<p class="center"><%= image_tag "loans_inx.jpg", :alt=>"", :width=>275, :height=>150 %> <%= image_tag "equal_housecomp.gif", :alt=>"" %></p>
    </div>
    <div class="inxright clearfix">
    <ul>
    	<li><%= link_to "Auto Loans", loans_auto_path %></li>
        <li><%= link_to "Credit Cards", loans_creditcard_path %></li>
        <li><%= link_to "Business Loans", business_loans_path %></li>
        <li><%= link_to "First Mortgage Loans", loans_mortgages_path %></li>
        <li><%= link_to "Second Mortgage Loans", loans_second_mortgages_path %></li>
        <li><%= link_to "Student Loans", loans_studentloans_path %></li>
        <li><%= link_to "Home Equity Line of Credit", loans_homeequity_path %></li>
        <li><%= link_to "Other Loans", loans_other_path %></li>
        <li><%= link_to "Signature Loans", loans_signature_path %></li>
        <li><%= link_to "Secured Loans", loans_sharesecured_path %></li>
        <li><%= link_to "Business Loan Rates", rates_loan_business_path %></li>
        <li><%= link_to "Consumer Loan Rates", rates_loan_consumer_path %></li>
        <li><%= link_to "Loan Application", new_loanapp_path %></li>
        <li><%= link_to "Financial Calculators", calculators_path %></li>
    </ul>
    </div>
  </div>
 </div>