<div id="container2">
  <div class="banner">
  	<div class="contentcenter clearfix">
    <h2>First Mortgage Loans</h2>
    <p>We offer a wide range of mortgage products for our members to choose from:</p>
	<p><span class="redtext2">First Time Home Buyers Program:</span><br />
    In conjunction with the state of Georgia, EXCEL FCU offers a program to assist our members with limited resources in purchasing their first home. Income requirements and geographic limitations apply.</p>
    <p class="center"><%= link_to "Apply Here", "http://www.cufs.org/", :rel=>"external" %></p>
    
	<p><span class="redtext2">Adjustable Rate Mortgages:</span><br />
    The interest rate is guaranteed for a specified period of time and then it is "adjustable" thereafter -- depending upon the market. The interest rate will have caps on how much it can rise or fall each year as well as over the life of the loan.</p>
    <p class="center"><%= link_to "Apply Here", "http://www.cufs.org/", :rel=>"external" %></p>    
    
	<p><span class="redtext2">5/25 Program:</span><br />
    This program is perfect for those members who do not intend on staying in their home for more than five years. The interest rate is guaranteed for five years and then the member may choose to refinance the remaining balance or pay the loan off in its entirety.</p>
    <p class="center"><%= link_to "Apply Here", "http://www.cufs.org/", :rel=>"external" %></p>     
    
	<p><span class="redtext2">7/23 Program:</span><br />
    This program is identical to the 5/25 except the interest rate is guaranteed for seven years.</p>
    <p class="center"><%= link_to "Apply Here", "http://www.cufs.org/", :rel=>"external" %></p>
    
	<p><span class="redtext2">Refinancing:</span><br />
    All of the options listed above are available to all qualifying members wishing to refinance their existing mortgage.</p>
    <p class="center"><%= link_to "Apply Here", "http://www.cufs.org/", :rel=>"external" %></p>         
    
	<p><span class="redtext2">Redi-Equity Line of Credit:</span><br />
    Home Equity loans are offered on owner occupied, single family homes, townhomes and condominiums located in Georgia, Florida, North Carolina, South Carolina and Tennessee.</p>
    <p>The perfect solution to many of your financial needs! Tap into the equity in your home to consolidate your bills, take a vacation or improve your home. This loan is tied to the Prime interest rate as published in The Wall Street Journal.</p>
    <p class="center"><%= link_to "Apply Here", "http://www.cufs.org/", :rel=>"external" %></p> 
    
    <p class="center"><%= image_tag "equal_housecomp.gif", :alt=>"", :width=>153, :height=>94 %></p>        
    </div>
  </div>
 </div>
