<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Approved Member Groups</h2>
	<p>Listed below are companies, associations and organizations that offer EXCEL Federal Credit Union financial products and services to their employees/associates as part of their benefits program.</p>
<a name="top" id="top"></a>
<p>If you would like your organization to be included in this list, please complete a <%= link_to "Request to Become An EXCEL FCU Member Group", "pdf/Request to Become.pdf" %>.</p>

<p>Member groups receive regular updates on our products and services, along with participation in employee benefit's fairs and onsite financial seminars, as requested.</p>

 <table width="100%" border="0" cellspacing="1" cellpadding="5">
                  <tr>
                    <td align="center"><span>| <%= link_to "A", :anchor => "a" %> | <%= link_to "B", :anchor => "b" %> | <%= link_to "C", :anchor => "c" %> | <%= link_to "D", :anchor => "d" %> | <%= link_to "E", :anchor => "e" %> | <%= link_to "F", :anchor => "f" %> | <%= link_to "G", :anchor => "g" %> | <%= link_to "H", :anchor => "h" %> | <%= link_to "I", :anchor => "i" %> | <%= link_to "J", :anchor => "j" %> | <%= link_to "K", :anchor => "k" %> | <%= link_to "L", :anchor => "l" %> | <%= link_to "M", :anchor => "m" %> | <%= link_to "N", :anchor => "n" %> | <%= link_to "O", :anchor => "o" %> | <%= link_to "P", :anchor => "p" %> | <%= link_to "Q", :anchor => "q" %> | <%= link_to "R", :anchor => "r" %> | <%= link_to "S", :anchor => "s" %> | <%= link_to "T", :anchor => "t" %> | <%= link_to "U", :anchor => "u" %> | <%= link_to "V", :anchor => "v" %> | <%= link_to "W", :anchor => "w" %> | <%= link_to "X", :anchor => "x" %> | <%= link_to "Y", :anchor => "y" %> | <%= link_to "Z", :anchor => "z" %> | <%= link_to "0-9", :anchor => "num" %></span></td>
                  </tr>
                  <tr>
                    <td><p><span class="membergroups">A</span><a name="a" id="a"></a></p>
                        <div>
                          <ul>
                            <li>A BETTER SOLUTION </li>
                            <li>A.D. RHODES THE </li>
                            <li>A.G. RHODES HOME </li>
                            <li>A1 CLEANING - TAMPA </li>
                            <li>A-1 PERSONNEL </li>
                            <li>A-1 STAFFING </li>
                            <li>A-DERRICK, INC. </li>
                            <li>AARON'S GRANT AND HABIF </li>
                            <li>ABOVE MARKETING GROUP </li>
                            <li>ACADEMIC NAVIGATORS </li>
                            <li>ACE CORPORATE STORES </li>
                            <li>ACE HARDWARE </li>
                            <li>ACE HARDWARE CORP. </li>
                            <li>ACKERMAN SECURITY SYSTEMS </li>
                            <li>ACTION BINDERY </li>
                            <li>ACTION STAFFING, INC. </li>
                            <li>ADAGE NETWORKS </li>
                            <li>ADVANCED CONTROL SYSTEMS </li>
                            <li>ADVANCED MEDICAL GROUP </li>
                            <li>ADVANCED CAREER TRAINING </li>
                            <li>AFFORDABLE HOUSING PARTNERSHIP, INC. </li>
                            <li>AGRICULTURAL Mktg. SERVICES of ATL. </li>
                            <li>AID ATLANTA </li>
                            <li>AID GWINNETT </li>
                            <li>AIDS RESEARCH CONSORTIUM OF ATLANTA, INC. </li>
                            <li>AJC INTERNATIONAL FOODS </li>
                            <li>AJC INTERNATIONAL, INC. </li>
                            <li>ALAN R. TURES, P.C. </li>
                            <li>ALANS PHOTOGRAPHY </li>
                            <li>ALCOA FUJIKURA LTD </li>
                            <li>ALLEN INTERNATIONAL GROUP </li>
                            <li>A La CARTE PAINTING, INC. </li>
                            <li>ALTERNATIVE MAILING SYSTEMS </li>
                            <li>AMERI SERVE (FORMERLY INTERSTATE DISTRIBUTORS) </li>
                            <li>AMERICAN MANAGEMENT COMPANY</li>
                            <li>AMERICA'S PERFORMANCE </li>
                            <li>AMERICAN ADVERTISER </li>
                            <li>AMERICAN CANCER SOCIETY </li>
                            <li>AMERICAN LUNG ASSOCIATION </li>
                            <li>AMERICAN MEGA TRENDS </li>
                            <li>AMERICAN SOCIAL HEALTH ASSOCIATION </li>
                            <li>AMERIQUEST MORTGAGE COMPANY </li>
                            <li>AMFINITY BUSINESS HARRIS </li>
                            <li>AMITAR NETWORK SOLUTIONS </li>
                            <li>ANDERSON OFFICE SUPPLY COMPANY </li>
                            <li>ANIMAL &amp; PLANT HEALTH INSP. SERVICE U.S. GOV.</li>
                            <li>APCO GRAPHICS, INC. </li>
                            <li>APPLIED INFOTECH </li>
                            <li>ARAMARK CORPORATION </li>
                            <li>ARKO EXECUTIVE SERVICES </li>
                            <li>ARTHRITIS FOUNDATION </li>
                            <li>ARTISTIC POOLS, INC. </li>
                            <li>ASC DORAVILLE </li>
                            <li>ASSOCIATION ON BATTERED WOMEN OF CLAYTON COUNTY </li>
                            <li>ATCO MANUFACTURING </li>
                            <li>ATHENS GENERAL HOSPITAL </li>
                            <li>ATLANTA BUSINESS CHRONICLE </li>
                            <li>ATLANTA COMMUNITY TENNIS ASSOCIATION </li>
                            <li>ATLANTA ENTERPRISE CENTER, INC. </li>
                            <li>ATLANTA JEWISH COMMUNITY CENTER </li>
                            <li>ATLANTA LEGAL AID SOCIETY, INC. </li>
                            <li>ATLANTA MARKETING CO. </li>
                            <li>ATLANTA METRO LIMOUSINE SERVICES </li>
                            <li>ATLANTA URBAN LEAGUE, INC. </li>
                            <li>ATLANTIC ENVELOPE COMPANY </li>
                            <li>ATLANTIC SERVICES, INC. </li>
                            <li>ATLANTIC SOUTHEAST AIRLINES </li>
                            <li>ATLAS COMMUNICATIONS </li>
                            <li>AUDIO ALERT SYSTEMS, INC. </li>
                            <li>AUDITORY EDUCATION CENTER (AEC) </li>
                            <li>AUTOCON OF ATLANTA </li>
                            <li>AUTOMATED PRINT, INC. </li>
                            <li>AVANT STAFFING GROUP </li>
                            <li>AZALEA COVE </li>
                            <li>AZS CORPORATION</li>
                          </ul>
                        </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">B</span><a name="b" id="b"></a></p>
                      <div>
                          <ul>
                            <li>BAF CORPORATION FOODS </li>
                            <li>BAF FOOD SERVICE, INC. </li>
                            <li>BARDI PROPERTIES, LLC </li>
                            <li>BEDFORD PINE CHILD &amp; FAMILY RESOURCES CENTER </li>
                            <li>BELL USA, INC. </li>
                            <li>BELLON &amp; HUGHES </li>
                            <li>BENEFIT ALTERNATIVES, INC. </li>
                            <li>BENN MARSHALL DENTAL CLINIC </li>
                            <li>BENTON-GEORGIA, INC. </li>
                            <li>BERGEMANN USA </li>
                            <li>BEST COM </li>
                            <li>BETTER BRANDS OF ATLANTA &amp; MARIETTA </li>
                            <li>BGT AMERICAS, INC. </li>
                            <li>BHI, INC. </li>
                            <li>BIANCO HOPKINS &amp; ASSOCIATES </li>
                            <li>BIG BROTHER / SISTER ASSOCIATION OF ATLANTA, INC. </li>
                            <li>BIO SHIELD </li>
                            <li>BIZ DEV. SYSTEM INC. </li>
                            <li>BJ POLYMERS </li>
                            <li>BLIND &amp; LOW VISION SERVICES OF NORTH GEORGIA </li>
                            <li>BOBBY DODD CENTER, INC. </li>
                            <li>BOISE - CASCADE </li>
                            <li>BOY SCOUTS OF AMERICA, ATLANTA AREA COUNCIL, INC. </li>
                            <li>BOY SCOUTS OF AMERICA, INC. FLINT RIVER COUNCIL </li>
                            <li>BOYS &amp; GIRLS CLUBS OF METRO ATLANTA </li>
                            <li>BRIGADE QUARTERMASTER </li>
                            <li>BROOKS RANGE </li>
                            <li>BROWN TROUT DEVELOPMENT. LLC. </li>
                            <li>BSI (BUSINESS SOFTWARE, INC.)</li>
                            <li>BUCKHEAD CHRISTIAN MINISTRY </li>
                            <li>BUCKHEAD PIZZA CAFE </li>
                            <li>BULL &amp; ASSOCIATES </li>
                            <li>BULLDOG MOVERS </li>
                            <li>BURRELLO, INC.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">C</span><a name="c" id="c"></a></p>
                      <div>
                          <ul>
                            <li>CAMPBELL-STONE CHRISTIAN CENTERS </li>
                            <li>CAMP FIRE GIRLS &amp; BOYS ATLANTIC COUNCIL </li>
                            <li>CANVAS SYSTEMS</li>
                            <li>CARRIE STEELE - PITTS HOME, INC. </li>
                            <li>CATHOLIC SOCIAL SERVICES, INC. </li>
                            <li>CAPITAL MANAGEMENT CORPORATION</li>
                            <li>CAREER STREAM INC.</li>
                            <li>CARLSON PEACHTREE MANAGEMENT</li>
                            <li>CD GROUP </li>
                            <li>CENTER FOR THE VISUALLY IMPAIRED </li>
                            <li>CERAMIC TILE INTERNATIONAL/<br />
                              INTERCERAMIC </li>
                            <li>CHANCELLOR AMERICAN, LLC </li>
                            <li>CHILDREN'S WORLD LEARNING CENTERS </li>
                            <li>CHOICEPOINT (A LEXISNEXIS COMPANY)</li>
                            <li>CHRIST CHURCH EPISCOPAL (EMPLOYEES) </li>
                            <li>CHRISTIAN EMERGENCY HELP CENTER </li>
                            <li>CHRISTOS PIZZA </li>
                            <li>CITY OF AUSTELL, GA </li>
                            <li>CIVIL SERVICE COMMISSION U.S. GOVERNMENT </li>
                            <li>C-L ENTERPRISES </li>
                            <li>CLARK CAPITAL RESOURCES, LLC </li>
                            <li>CLARK COUNTY, GA </li>
                            <li>CLASSIC GRILL &amp; BAR </li>
                            <li>CLAYTON COUNTY FAMILY CARE, INC. </li>
                            <li>COASTAL DENTAL </li>
                            <li>COBB COUNTY EMERGENCY AID ASSOCIATION, INC. </li>
                            <li>COCA COLA ENTERPRISES </li>
                            <li>COMMERCIAL COLD STORAGE </li>
                            <li>COMMERCIAL CONTRACTORS ENTERPRISES, INC. </li>
                            <li>CONALLIANCE, INC. </li>
                            <li>CONSULTANTS AND BUILDERS (C.B.I.) </li>
                            <li>CONSUMER CREDIT COUNSELING SERVICE </li>
                            <li>CONTINENTAL PACKAGING, CO. </li>
                            <li>CONWAY DATA </li>
                            <li>COSTA CLEANERS </li>
                            <li>COUNCIL ON BATTERED WOMEN, INC. </li>
                            <li>COUNTRY HOME BAKERS </li>
                            <li>CORUS360 </li>
                            <li>COURTS OF APPEALS U.S. GOVERNMENT </li>
                            <li>CREATIVE STAFFING </li>
                            <li>CRESCENT DEVELOPMENT, INC.</li>
                            <li>CRIME FREE USA </li>
                            <li>CROWN PACIFIC </li>
                            <li>CROWN PLAZA - RAVINIA HOTEL </li>
                            <li>CUMMING VETERINARY </li>
                            <li>CUMMINS SOUTH, INC. </li>
                            <li>CUSTOM APPARATUS, INC. </li>
                            <li>CUSTOM OPTICAL LABS </li>
                            <li>CYLIX, INC</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">D</span><a name="d" id="d"></a></p>
                      <div>
                          <ul>
                            <li>DART CONTAINER CORP </li>
                            <li>DATAMATX </li>
                            <li>DAVID SIKES CHILD CARE </li>
                            <li>DAVID WOOD PERSONNEL </li>
                            <li>DAVIDSON KENNEDY, INC. </li>
                            <li>DAY WILBURN ASSOCIATES, INC. </li>
                            <li>DCH, INC. </li>
                            <li>DEKALB COMMUNITY COUNCIL ON AGING, INC. </li>
                            <li>DEMOCRATIC PARTY OF GA, LOCATED AT 1100 SPRING STREET </li>
                            <li>DENCO </li>
                            <li>DENON DIGITAL INDUSTRIES, INC. </li>
                            <li>DEPARTMENT OF COMMERCE U.S. GOVERNMENT </li>
                            <li>DEPARTMENT OF AGRICULTURE U.S. GOVERNMENT </li>
                            <li>DEPARTMENT OF DEFENSE U.S. GOVERNMENT </li>
                            <li>DEPARTMENT OF ENERGY U.S. GOVERNMENT </li>
                            <li>DEPARTMENT OF JUSTICE&nbsp; U.S. GOVERNMENT&nbsp; </li>
                            <li>DEPARTMENT OF LABOR U.S. GOVERNMENT </li>
                            <li>DEPARTMENT OF THE INTERIOR U.S. GOVERNMENT </li>
                            <li>DEPARTMENT OF TRANSPORTATION U.S. GOVERNMENT </li>
                            <li>DESIGN SOUTH </li>
                            <li>DIABETES ASSOCIATION OF ATLANTA, INC. </li>
                            <li>DOLCO PACKAGING </li>
                            <li>DOMINOS NATIONAL COMSRY </li>
                            <li>DON BROOME ASSOCIATES, INC. </li>
                            <li>DOUGLAS COUNTY RETARDATION ASSOCIATION, INC. </li>
                            <li>DOVE DESIGN STUDIO, INC. </li>
                            <li>DOWLING TEXTILE Mfg. COMPANY</li>
                            <li>DRUG ENFORCEMENT ADMINISTRATION U.S. GOVERNMENT </li>
                            <li>DSM ENGINEERING PLASTICS </li>
                            <li>DURAN CONSTRUCTION CO. </li>
                            <li>DULUTH PARK ASSOCIATES </li>
                            <li>DZINEWORKZ, INC.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">E</span><a name="e" id="e"></a></p>
                      <div>
                          <ul>
                            <li>E.R. SQUIBB &amp; SONS </li>
                            <li>E.V. CAMP STEEL WORKS </li>
                            <li>EARLE BURKE </li>
                            <li>EASTER SEAL OF NORTH GEORGIA </li>
                            <li>EASTERN FOOD, INC. </li>
                            <li>EBNER MANAGEMENT, LLC. </li>
                            <li>ECONOMIC OPPORTUNITY ATLANTA </li>
                            <li>EDAFLOW CORPORATION </li>
                            <li>EISON INDUSTRIES, INC.</li>
                            <li>EDEN CARE SENIOR LIVING SERVICES </li>
                            <li>ELEKTRA INSTRUMENTS </li>
                            <li>EMPLOYER MANAGEMENT ALLIANCE </li>
                            <li>ENVIRONMENTAL PROTECTION AGENCY U.S. GOVERNMENT </li>
                            <li>EPILEPSY FOUNDATION OF AMERICA, GEORGIA CHAPTER </li>
                            <li>EPPS AIR SERVICE, INC. </li>
                            <li>EQUAL EMPLOYMENT OPPORTUNITY COMMISSION U.S. GOVERNMENT </li>
                            <li>EQUIFAX EMPLOYEES / TAMPA </li>
                            <li>EQUIFAX INC. &amp; AFFILIATES </li>
                            <li>EURO CHEM INTERNATIONAL CORP. </li>
                            <li>EVENTIONS </li>
                            <li>EXCEL DIRECT, INC. </li>
                            <li>EXHIBIT GROUP ATLANTA </li>
                            <li>EYE 1ST VISION &amp; LASER </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">F</span><a name="f" id="f"></a></p>
                      <div>
                          <ul>
                            <li>F &amp; B SERVICES </li>
                            <li>F.A.T.S. (FIRE ARMS TRAINING SYSTEM) </li>
                            <li>FAMILIES FIRST </li>
                            <li>FAST SIGNS </li>
                            <li>FAYETTE SENIOR SERVICES </li>
                            <li>FEDERAL BUREAU OF INVESTIGATION U.S. GOVERNMENT </li>
                            <li>FEDERAL COMMUNICATIONS COMMISSION U.S. GOVERNMENT </li>
                            <li>FEDERAL DEPOSIT INSURANCE COMMISSION (FDIC) </li>
                            <li>FEDERAL EMPLOYEES-All Federal Agencies except - CDC, HEW, FAA &amp; U.S.   Post Office </li>
                            <li>FEDERAL HIGHWAY &amp; ADMINISTRATION U.S. GOVERNMENT </li>
                            <li>FEDERAL RESERVE BANK </li>
                            <li>FIERMAN, ROBERT A. AND ASSOCIATES PC</li>
                            <li>FINANCIAL PLANNING ADVISORY SERVICES, INC.</li>
                            <li>FISERV </li>
                            <li>FISH &amp; WILDLIFE SERVICE U.S. GOVERNMENT </li>
                            <li>FLOYD GROUP </li>
                            <li>FOCAL POINT </li>
                            <li>FORUM W.S. LLC. </li>
                            <li>FOUNTAIN OF LIVING WATER APOSTOLIC MINISTRIES, INC. </li>
                            <li>FOUNTAINVIEW CENTER </li>
                            <li>FRANZEN &amp; SALZANO </li>
                            <li>FRIENDSHIP FORCE </li>
                            <li>FROSTY ACRES (F &amp; B INC.) </li>
                            <li>FULL CIRCLE PRODUCTIONS </li>
                            <li>FULTON COUNTY </li>
                            <li>FULTON/ATLANTA ACTION AUTHORITY </li>
                            <li>FUNNTAISIA FAMILY FUN CENTER </li>
                            <li>FUNSTON PROPERTY COMPANY, LLC.</li>
                            <li>FUN RAISER USA<br />
                              DBA-COMMON THREADS </li>
                            <li><span>FUTURE SECURITY</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">G</span><a name="g" id="g"></a></p>
                      <div>
                          <ul>
                            <li>GATE CITY DAY NURSERY ASSOCIATION </li>
                            <li>GENERAL SERVICES ADMINISTRATION U.S. GOVERNMENT </li>
                            <li>GENESIS SHELTER </li>
                            <li>GEORGIA AEROMEDICAL, INC. </li>
                            <li>GEORGIA BAPTIST MEDICAL CENTER </li>
                            <li>GEORGIA DIAGNOSTIC STAFFING </li>
                            <li>GEORGIA LAW CENTER </li>
                            <li>GEORGIA MUTUAL ASSISTANCE ASSOCIATION CONSORTIUM </li>
                            <li>GEORGIA NURSES ASSOCIATION </li>
                            <li>GEORGIA NUT &amp; BOLT CO. </li>
                            <li>GEORGIA ONSITE WASTEWATER ASSOCIATION, INC. </li>
                            <li>GEORGIA RADIO READING SERVICE, INC. </li>
                            <li>GEORGE MICHAELS D.D.S. </li>
                            <li>GETTING AHEAD ASSOCIATION </li>
                            <li>GLASS STREAM, INC. </li>
                            <li>GLENAYRE ELECTRONICS (MOVIUS)</li>
                            <li>GOODWILL INDUSTRIES, INC. </li>
                            <li>GLOBAL MANAGEMENT TECHNOLOGIES </li>
                            <li>GMP COMPANIES </li>
                            <li><span>GRAEBEL/ATLANTA MOVERS, INC.</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">H</span><a name="h" id="h"></a></p>
                      <div>
                          <ul>
                            <li>H.J. RUSSELL &amp; CO. &amp; AFFILIATES </li>
                            <li>HARPER INVESTMENTS &amp; DEVELOPMENT, LLC. </li>
                            <li>HARRIS MEDICAL ASSOCIATES </li>
                            <li>HARRIS MEDICAL SEARCH,LLC. </li>
                            <li>HEAD START PHYSICAL </li>
                            <li>HEALTH 1ST, INC. </li>
                            <li>HENLEY FINANCIAL </li>
                            <li>HEWETT STUDIOS, INC. </li>
                            <li>HIDDEN HILLS GOLF AND COUNTRY CLUB </li>
                            <li>HIBERNIAN BENEVOLENT SOCIETY of ATLANTA </li>
                            <li>HIGH COUNTY </li>
                            <li>HILL SIDE </li>
                            <li>HIRSCH BEDNER ASSOCIATES </li>
                            <li>HOME WIRELESS NETWORK </li>
                            <li>HORIZON MORTGAGE COMPANY </li>
                            <li>HOUSING &amp; URBAND DEVELOPMENT U.S. GOVERNMENT </li>
                            <li>HOUSTON, NICOLL &amp; CO., PC </li>
                            <li>HOWARD SCHOOL,INC. </li>
                            <li><span>HUB COUNSELING &amp; THE EDUCATION CENTER</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">I</span><a name="i" id="i"></a></p>
                      <div>
                          <ul>
                            <li>IATSE, LOCAL #927 </li>
                            <li>I.A.S. COMMERICAL, LLC. </li>
                            <li>IMMCO </li>
                            <li>IMPAQ MICRO, INC. </li>
                            <li>IMPELL CORPORATION </li>
                            <li>IMR PWA </li>
                            <li>IMR TRUCKING, INC. </li>
                            <li>INDEPENDENT ORDER OF FORESTERS </li>
                            <li>INDUSTRIAL MILLWRIGHT </li>
                            <li>INFORMATION SYSTEMS CONSULTANTS ASSOCIATION </li>
                            <li>INOVIS </li>
                            <li>INTELLIGENT MGMT. GROUP, INC. </li>
                            <li>INTERLYNX TECHNOLOGICAL </li>
                            <li>INTERNATIONAL ENERGY CONSERVATION SYSTEMS </li>
                            <li>INTERNL UNION ELEVATOR CONS-LOCAL #32 </li>
                            <li>INTERPRINT </li>
                            <li>INTERSTATE DISTRIBUTORS, INC. </li>
                            <li>INTERSTATE HOTELS CORP. - COLONY SQUARE </li>
                            <li>INVESTMENT PROPERTY CONSULTANTS, LLC </li>
                            <li>IPS </li>
                            <li>ITS MANAGED</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">J</span><a name="j" id="j"></a></p>
                      <div>
                          <ul>
                            <li>JACKSON INVESTMENT GROUP </li>
                            <li>JAMES P. KENNEDY DDS</li>
                            <li>JD CANTRELL ENTERPRISES,LLC. </li>
                            <li>JAYE COMMUNICATION </li>
                            <li>JEFFERSON MORTGAGE SERVICE, INC. </li>
                            <li>JEWISH FAMILY SERVICES </li>
                            <li>JEWISH FAMILY SERVICES, INC. </li>
                            <li>JEWISH FAMILY/HOMELESS &amp; HUNGRY </li>
                            <li>JEWISH HOME AFFILIATES OF ATLANTA JEWISH THE </li>
                            <li>JEWISH VOCATIONAL SERVICE </li>
                            <li>JOE CORLEY KARATE </li>
                            <li>JOHNSON &amp; COMPANY </li>
                            <li>JOHNSON - SPELLMAN &amp; ASSOCIATES, INC. </li>
                            <li>JONES THOMAS &amp; ASSOCIATES</li>
                            <li>JOS B. ENGLISH COMPANY, INCEAST POINT, GA </li>
                            <li>JM BOLES</li>
                            <li>JUSTICE CENTER OF ATLANTA, INC.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">K</span><a name="k" id="k"></a></p>
                      <div>
                          <ul>
                            <li>KANCHI, INC. </li>
                            <li>KAWNEER COMPANY, INC. </li>
                            <li>KECK &amp; WOOD INC. </li>
                            <li>KEYSTONE COMPUTERS, INC. </li>
                            <li>KING FINANCIAL CORP. </li>
                            <li>K.R. INTERNATIONAL, INC. </li>
                            <li>KTR VENTURES, LLC </li>
                            <li>KYOCERA ELECTRONICS, INC.</li>
                            <li>K.U. ENTERPRISES, INC. </li>
                            <li><span>KUTAK, ROCK &amp; CAMPBELL</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">L</span><a name="l" id="l"></a></p>
                      <div>
                          <ul>
                            <li>LAKE LANIER TRAVEL </li>
                            <li>LAMB &amp; ASSOCIATES </li>
                            <li>LAMBERSON'S HOMECARE, INC. </li>
                            <li>LANDSTAR EXPRESS AMERICA - TAMPA </li>
                            <li>LANHAM MACHINARY CO/ATL BRAKE &amp; ALIGNMENT CTR. </li>
                            <li>LATIN AMERICAN ASSOCIATION </li>
                            <li>LEE RICHARDSON &amp; CO. </li>
                            <li>LEXISNEXIS (FORMERLY CHOICEPOINT)</li>
                            <li>Li CHOU D.D.S. P.C. </li>
                            <li>LLEH PROPERTIES, LLC </li>
                            <li>LORENZ'S B.P. </li>
                            <li><span>LOCUM.TENENS, COM</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">M</span><a name="m" id="m"></a></p>
                      <div>
                          <ul>
                            <li>MATA PROPERTIES </li>
                            <li>M.A. HANNA COLOR </li>
                            <li>M.A. HANNA RESIN DISTRIBUTION </li>
                            <li>M.A. HANNA IT SHARED SERVICES </li>
                            <li>M.A. HANNA ENGINEERED MATERIALS </li>
                            <li>MAIN STREET VETERNARIANS </li>
                            <li>MADISON FINANCIAL GROUP, LLC. </li>
                            <li>MAIER &amp; BERKELE, INC. </li>
                            <li>MAIN STAY GROUP </li>
                            <li>MAGNOLIA HALL @ SERVER ROAD, LLC </li>
                            <li>MANAGEMENT INFORMATION </li>
                            <li>MARTIN MASONRY CONSTRUCTION CO. </li>
                            <li>MASTERBEND SYSTEMS </li>
                            <li>MAY BLANKENBECKER </li>
                            <li>MEDIA LINX COMMUNICATION </li>
                            <li>MEDICAL MARKETING GROUP, INC. </li>
                            <li>MEDICAL STAFF DEVELOPMENT </li>
                            <li>MEDLOCK REAL ESTATE GROUP, LLC. </li>
                            <li>MEGASYS </li>
                            <li>MEHLOR CORPORATION </li>
                            <li>MELTZER &amp; ASSOCIATES </li>
                            <li>MEMBER AUTO CHOICE </li>
                            <li>MEMBERS REALTY TRUST, INC. </li>
                            <li>MENTAL HEALTH ASSOCIATION OF FAYETTE COUNTY </li>
                            <li>MENTAL HEALTH ASSOCIATION OF METRO ATLANTA, INC. </li>
                            <li>MEREDITH POLE &amp; TIMBER </li>
                            <li>METRO ATLANTA CRIME COMMISSION </li>
                            <li>METROPOLITAN ATLANTA COUNCIL ON ALCOHOL &amp; DRUGS, INC. (MACAD) </li>
                            <li>METROPOLITAN ATLANTA HOUSING COALITION </li>
                            <li>METROPOLITAN ATLANTA OPPORTUNITIES INDUSTRIALIZATION CENTER, INC. </li>
                            <li>MIDTOWN BUSINESS ASSOCIATION </li>
                            <li>MIDTOWN NEIGHBORHOOD ASSOCIATION</li>
                            <li>MILGRAY ELECTRONICS </li>
                            <li>MILLENNIUM PEO, LLP </li>
                            <li>MILLENNIUM SOLUTIONS, INC. </li>
                            <li>MILLENNIUM CHILDCARE GROUP II </li>
                            <li>MIMMS ENTERPRISES, INC. </li>
                            <li>MIZUNO USA </li>
                            <li>MKN INVESTMENT CORPORATION </li>
                            <li>MOBILE MEDIA ENTERPRISES </li>
                            <li>MOVIE MASTERS CORP </li>
                            <li>MOVIUS (FORMERLY GLENAYRE)</li>
                            <li>MPH INVESTMENTS, LLC </li>
                            <li>MURZAN, INC.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">N</span><a name="n" id="n"></a></p>
                      <div>
                          <ul>
                            <li>NALMAC EMBOSSING</li>
                            <li>NATIONAL CREDIT UNION ADMINISTRATION (NCUA)</li>
                            <li>NATIONAL GRAPHICS, INC. </li>
                            <li>NATIONAL LIBRARY BINDERY </li>
                            <li>NATIONAL TIRE &amp; BATTERY </li>
                            <li>NAVY SUPPLY CORPS SCHOOL </li>
                            <li>NCR INFORMATION IMAGING SYSTEMS </li>
                            <li>N.E. GEORGIA BOY SCOUT COUNCIL</li>
                            <li>NETWORTH FINANCIAL SERVICES, LLC. </li>
                            <li>NEVER ENOUGH THYME </li>
                            <li>NEW HORIZON CARE, LLC. </li>
                            <li>NEW SOUTH COMMERCIAL PROPERTIES, INC. </li>
                            <li>NEWCOMER'S NETWORK </li>
                            <li>NEXT START CAPITAL </li>
                            <li>NEXT START.COM </li>
                            <li>NORDIC REFRIGERATED SERVICES </li>
                            <li>NORTHSIDE RESPIRATORY CARE </li>
                            <li>NORTHWEST GEORGIA GIRL SCOUT COUNCIL </li>
                            <li>NORTHWEST YOUTH POWER </li>
                            <li>NYOU HORIZON PROPERTIES, LLC. </li>
                            <li>NUCLEAR DATA, INC. </li>
                            <li><span>NURSECARE OF ATLANTA, INC.</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">O</span><a name="o" id="o"></a></p>
                      <div>
                          <ul>
                            <li>OAKBROOK CLEANING SERVICES </li>
                            <li>OCH-LLC </li>
                            <li>OCONEE COUNTY </li>
                            <li>ODYSSEY FAMILY COUNSELING CENTER THE </li>
                            <li>ONE STOP MORTGAGE </li>
                            <li>OPTIMUS SOLUTIONS</li>
                            <li>ORTEGA-VAHID, LLC. </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">P</span><a name="p" id="p"></a></p>
                      <div>
                          <ul>
                            <li>P &amp; P STEEL &amp; REINFORCING </li>
                            <li>P.D. SIXTY DISTRIBUTOR </li>
                            <li>PADGETT SERVICES </li>
                            <li>PAGE GRAPHICS, INC. - NORCROSS, GA </li>
                            <li>PAKSTAR USA </li>
                            <li>PARAMOUNT GRADING COMPANY </li>
                            <li>PARENT TO PARENT OF GEORGIA, INC. </li>
                            <li>PARR MANUFACTURING </li>
                            <li>PAYNE COMMERCIAL, LLC.</li>
                            <li>PDE EXPRESS, LLC </li>
                            <li>PEA ARTS &amp; TECHNOLOGY </li>
                            <li>PEACHTREE MOVERS, INC. </li>
                            <li>PEACHTREE SUNDRIES </li>
                            <li>PEASANT RESTAURANTS, INC. </li>
                            <li>PEOPLE TV/CABLE 12 </li>
                            <li>PHOENIX AUTOMATION, INC. </li>
                            <li>PHOENIX MACHINE &amp; TOOL </li>
                            <li>PIB OFFICE PARTNERS, LLC </li>
                            <li>PIEDMONT EAR, NOSE, THROAT &amp; RELATED ALLERGY, P.C.</li>
                            <li>PIEDMONT MOULDING COMPANY </li>
                            <li>PINE VALLEY GIRL SCOUT COUNCIL, INC. </li>
                            <li>PLANNED PARENTHOOD OF THE ATLANTA AREA, INC. </li>
                            <li>P &amp; L REAL ESTATE II, LLC.</li>
                            <li>POLYONE CORPORATION </li>
                            <li>PORTSBRIDGE HOLDINGS, INC. </li>
                            <li>PRECISION TUNE </li>
                            <li>PREFERRED TECHNICAL GROUP, INC. </li>
                            <li>PREMIER ANESTHESIA </li>
                            <li>PREMIER CAR RENTAL </li>
                            <li>PREMIER ENVIRONMENTAL SERVICES, INC. </li>
                            <li>PRESBYTERY OF GREATER ATLANTA </li>
                            <li>PREVIOUS EMPLOYEES </li>
                            <li>PRIME CARE LEARNING CENTER</li>
                            <li>PRINCEWILL PROPERTIES </li>
                            <li>PRISM ENTERPRISE </li>
                            <li>PRO PRIDE COMMERCIAL </li>
                            <li>PRO-SLICE, LLC </li>
                            <li>PRO TEC SECURITY </li>
                            <li>PROVENANCE SPEECH </li>
                            <li>PROVIDENCE HOLDINGS </li>
                            <li>PYRAMID CONSULTING, INC.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">Q</span><a name="q" id="q"></a></p>
                      <div>
                          <ul>
                            <li>QTC MANAGEMENT, INC. </li>
                            <li>QUALITY CARPET &amp; UPHOLSTERY </li>
                            <li>QUANTUM CONSULTING </li>
                            <li>QUANTUM LASER CORPORATION </li>
                            <li><span>QUEST GROUP INTERNATIONAL</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">R</span><a name="r" id="r"></a></p>
                      <div>
                          <ul>
                            <li>RAILCAR MANAGEMENT </li>
                            <li>REHABILITATION &amp; EDUCATION FOR ADULTS &amp; CHILDREN (REACH, INC.) </li>
                            <li>RENEE'S HAIR DESIGNS </li>
                            <li>RESURGENS RISK MANAGEMENT </li>
                            <li>RETARDED CITIZENS / ATLANTA </li>
                            <li>REVENUE OUTSOURCING, INC. </li>
                            <li>RISING CREEK SIGNS </li>
                            <li>RIVER OF LIVING WATER </li>
                            <li>RIVERSIDE NETWORKING, LLC </li>
                            <li>RMA </li>
                            <li>ROBERTS &amp; ASSOCIATES, INC.</li>
                            <li>ROBERT A. FALANGA, P.C.</li>
                            <li>ROBERT A. FIERMAN &amp; ASSOCIATES,P.C.</li>
                            <li>ROCKDALE EMERGENCY RELIEF FUND </li>
                            <li>RPH BRINDLE MYE </li>
                            <li>RUSSELL - GOVERNMENT OR FAMILY</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">S</span><a name="s" id="s"></a></p>
                      <div>
                          <ul>
                            <li>S2 MARIETTA, LLC </li>
                            <li>S&amp;W GALLERIES </li>
                            <li>SADIE G. MAYS MEMORIAL NURSING HOME </li>
                            <li>SALVATION ARMY THE </li>
                            <li>SANAM ENTERPRISES, LLC.</li>
                            <li>SANDRA K. MELTZER &amp; ASSOCIATES</li>
                            <li>SANKET SYSTEMS, INC. </li>
                            <li>S. BENJAMIN ENTERPRISES, LLC.</li>
                            <li>SCHOOL SPECIALTY, INC. </li>
                            <li>SCI TREK </li>
                            <li>SCOTTDALE CHILD DEVELOPMENT CENTER, INC. </li>
                            <li>SECURITIES &amp; EXCHANGE COMMISSION U.S. GOVERNMENT </li>
                            <li>SEKO AIR FREIGHT INC. - TAMPA </li>
                            <li>SENIOR CITIZEN SERVICES OF METROPOLITAN ATLANTA, INC. </li>
                            <li>SERVICE FOODS, INC. </li>
                            <li>SHELTERING ARMS CHILD DEVELOPMENT &amp; FAMILY SUPPORT </li>
                            <li>SICKLE CELL FOUNDATION OF GEORGIA, INC. </li>
                            <li>SILENT LIGHTS </li>
                            <li>SILGAN P.E.T. CORPORATION </li>
                            <li>SIMMONS INTERNATIONAL COMPANY </li>
                            <li>SIMPSON NURSING FACILITIES &amp; K. CRAWFORD NURSING </li>
                            <li>SKYCO AVIATION SERVICES, INC. </li>
                            <li>SMALL BUSINESS ADMINISTRATION U.S. GOVERNMENT </li>
                            <li>SOOTHING TOUCH</li>
                            <li>SONOCO PRODUCTS COMPANY </li>
                            <li>SOUTHEASTERN DIAGNOSTIC </li>
                            <li>SOUTHERN DOOR LIFE COMPANY </li>
                            <li>SOUTHERN MOTOR CARRIERS RATE CONFERENCE </li>
                            <li>SOUTHERN STAFFING BENEFITS CORP. </li>
                            <li>SOUTHERN TELECOM</li>
                            <li>SPACE MAKERS </li>
                            <li>SPECTRUM CABLE SERVICE </li>
                            <li>ST. JUDE'S RECOVERY CENTER, INC. </li>
                            <li>STAR PACKAGE CORPORATION </li>
                            <li>STATE Y.M.C.A. OF GEORGIA </li>
                            <li>STEPHEN HAMBY ASSOCIATION </li>
                            <li>STORER CABLE COMMUNICATIONS, INC. </li>
                            <li>STOVALL QUOVARDIS, INC. </li>
                            <li>STRATIX </li>
                            <li>SUMMERFIRLD SUITES BY WYNDHAM </li>
                            <li>SUMMIT RESOURCES </li>
                            <li>SUMMITVILLE TAMPA, INC. - TAMPA </li>
                            <li>SUN ARCHITECTURAL PRODUCTS </li>
                            <li>SUNLIFE OF AMERICA/COASTAL STATES INS. CO. </li>
                            <li>SUPERIOR AUTOMOTIVE COMPANY </li>
                            <li>SUPREME RESOURCES, INC. </li>
                            <li>SURGICAL INFORMATION SYSTEMS </li>
                            <li>SURFACE TECHNOLOGY CORP.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">T</span><a name="t" id="t"></a></p>
                      <div>
                          <ul>
                            <li>TAILWIND, LLC </li>
                            <li>TALK SOLUTIONS </li>
                            <li>TANGENT INDUSTRIES </li>
                            <li>TAX REFUND EXPRESS </li>
                            <li>TECH BRIDGE </li>
                            <li>TEAM EXPERIENCE </li>
                            <li>TECHNICAL MAINTENANCE, INC. </li>
                            <li>TELL A FRIEND AUTO BROKERS </li>
                            <li>TEL-TECH, INC. </li>
                            <li>TENANT-ATLANTA MEDICAL CENTER</li>
                            <li>THE ALANTA ENTERPRISE CENTER, INC. </li>
                            <li>THE ALERT CENTER </li>
                            <li>THE BRIDGE FAMILY CENTER </li>
                            <li>THE FBI CITIZENS ACADEMY ASSOCIATION </li>
                            <li>THE FLOYD GROUP </li>
                            <li>THE FOUNTAIN VIEW CENTER </li>
                            <li>THE GEORGIA ASSOCIATION OF MORTGAGE </li>
                            <li>THE JOHNICKIE GROUP</li>
                            <li>THE LINK COUNSELING CENTER INC. </li>
                            <li>THE SOUTHERN COOK </li>
                            <li>THE SOUTHERN LINK</li>
                            <li>THERMO MATERIALS CORP-SCOTTDALE </li>
                            <li>TICKET MASTER </li>
                            <li>TLC MEDICAL SERVICES </li>
                            <li>TMM INVESTMENTS, INC. </li>
                            <li>TOP-SPIN, INC. </li>
                            <li>TOTAL WIRELESS SOLUTIONS, INC. </li>
                            <li>TRAVEL INC. </li>
                            <li>TRANS-LUX CORPORATION </li>
                            <li>TRAVELER AID OF METRO ATLANTA, INC. </li>
                            <li>TREK </li>
                            <li>TRI SOLUTIONS CONSULTING GROUP </li>
                            <li>TVL HEALTHCARE </li>
                            <li>TULL EQUIPMENT &amp; SUPPLY CO.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">U</span><a name="u" id="u"></a></p>
                      <div>
                          <ul>
                            <li>ULTRA TELECOM INC. </li>
                            <li>USTA SOUTHERN SECTION</li>
                            <li>U.S. FOREST SERVICE </li>
                            <li>U.S. GOVERNMENT EMPLOYEES - All agencies except-CDC, HEW, FAA &amp; U.S.   Post Office </li>
                            <li>U.S. SPRINT </li>
                            <li>UNIGLOBE ALL POINTS </li>
                            <li>UNITED AVIONICS </li>
                            <li>UNITED WAY </li>
                            <li>UNIVERSAL RUNDLE CORPORATION </li>
                            <li>UNIVERSITY CENTER COMMUNITY HEALTH CENTER </li>
                            <li>USO COUNCIL OF GEORGIA, INC. </li>
                            <li><span>USO OVERSEAS</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">V</span><a name="v" id="v"></a></p>
                      <div>
                          <ul>
                            <li>VANDENBURGH FOOD </li>
                            <li>VANTAGE PRODUCTS CORP-CONYERS </li>
                            <li>VECTOR SERVICES CORPORATION - TAMPA </li>
                            <li>VENCOR HOSPITAL - ATLANTA </li>
                            <li>VELOCITY REAL ESTATE,INC.</li>
                            <li>VFH CAPTIVE INSURANCE CO. </li>
                            <li>VICKERS, OWENS &amp; BLAZING </li>
                            <li>VIR EDUCATIONAL SERVICES, LLC.</li>
                            <li>VISION 21 </li>
                            <li>VISION PROPERTIES USA, LLC.</li>
                            <li>VISITING NURSE ASSOCIATION OF METROPOLITAN ATLANTA, INC. </li>
                            <li>VIVI COLOR/HEWETT STUDIOS </li>
                            <li>VOICE - TEL </li>
                            <li>VOLT BLACKNALL COMPANY </li>
                            <li>VYG STAFFING CO.</li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">W</span><a name="w" id="w"></a></p>
                      <div>
                          <ul>
                            <li>WAFFLE SHOPPE </li>
                            <li>WAGA TV - CHANNEL 5 </li>
                            <li>WALK BY FAITH GENERAL CONTRACTOR </li>
                            <li>WALTON REGIONAL HEALTH SYSTEMS </li>
                            <li>WARE PRINTING &amp; PUBLISHING </li>
                            <li>WE WASH TRUCK KLEEN CO., INC. </li>
                            <li>WEAVER BRAKE &amp; TIRE </li>
                            <li>WESTCORP SOFTWARE SYSTEMS, INC. </li>
                            <li>WILBER CHIROPRACTIC, INC. </li>
                            <li>WILLIAM C. MEREDITH </li>
                            <li>WILSON &amp; SONS </li>
                            <li>WINDFAIRE, INC. </li>
                            <li>WM HOBBS, LTD </li>
                            <li>WOODLAKE COUNTRY CLUB </li>
                            <li>WOODRUFF CENTER - GOVERNMENT OR FAMILY </li>
                            <li>WWF PAPER COMPANY </li>
                            <li><span>WYNDAM ATLANTA HOTEL</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">X</span><a name="x" id="x"></a></p>
                      <div>
                          <ul>
                            <li>XS INTERNATIONAL </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">Y</span><a name="y" id="y"></a></p>
                      <div>
                          <ul>
                            <li>Y.M.C.A. - BUTLER STREET </li>
                            <li>Y.M.C.A. OF COBB COUNTY </li>
                            <li>Y.M.C.A. OF&nbsp; METROPOLITAN ATLANTA </li>
                            <li>YOGURT VENTURES USA </li>
                            <li><span>Y.W.C.A. OF GREATER ATLANTA</span> </li>
                          </ul>
                      </div>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">Z</span><a name="z" id="z"></a></p>
                      <ul>
                      <li>ZS FOUNDRY INDUSTRIAL TRADING CORP.</li>
                      </ul>
                     
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p>
                      <p><span class="membergroups">0-9</span><a name="num" id="num"></a></p>
                          <ul>
                            <li><span>3-D FIXTURING, INC</span> </li>
                          </ul>
                      <p><%= link_to "BACK TO TOP", :anchor => "top", :class=>"backtotop" %></p></td>
                  </tr>
              </table>


    
</div>
  
  
  </div>
 </div>
