<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Mobile Banking</h2>
    <p class="center bold">mb.excelfcu.org</p>
    <%= image_tag "mobilebanking.gif", :alt=>"", :width=>260, :height=>173, :class=>"fright image" %>
    <p>With EXCEL and our new mobile service, you can easily access <%= link_to "NetBranch", netbranch_path %>,
our online banking system, with your web-enabled phone.*</p>
<p>Think of the possibilities! You can check balances while you&rsquo;re waiting in line
at the grocery store, or make a car payment while you&rsquo;re watching a soccer game. You can even transfer funds between accounts to ensure you have enough money available before making that next purchase. Visit "mb.excelfcu.org" using your web-enabled phone and logon using the same information (account number and password) you currently use to access <%= link_to "NetBranch", netbranch_path %>, our online banking service, or <%= link_to "MoneyLine", phone_path %>, our 24-hour automated phone service. <br />

</p>
<p>If you&rsquo;ve never used NetBranch, you can get started immediately if you have your account number and password. If you don&rsquo;t have a password, submit an online <%= link_to "Password Request", new_pinrequest_path %> and we'll contact you by the next business day with that information. You can also contact member services at 770-441-9235 or 1-888-441-9235 between the hours of 9AM &ndash; 4PM, Monday through Friday, and we'll help get you started right away.</p>
<p>Manage your finances wherever you are and whenever the need arises with EXCEL Federal Credit Union and our convenient new mobile banking service. </p>
<p class="disclaimer">* Remember, your cell phone will need to be web-enabled and web service fees from your service provider may apply. </p>
    
    </div>  
  </div>
 </div>
