<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>NetBranch Online Banking</h2>
   <p>Manage your finances and monitor them for safety using NetBranch, our online banking system. Accessing NetBranch is safe, secure, and easy via a computer or web-enabled mobile phone (learn more about <%= link_to "mobile banking by clicking here", mobilebanking_path %> ).</p>
   <p>All that's needed is your member/account number and password. We can have you viewing your accounts online no later than the next business day!</p>
   <p>Your NetBranch online banking password is the same as your <%= link_to "MoneyLine", phone_path %> 24-hour automated telephone response system password. This password may also be used to access <%= link_to "Mobile Banking", mobilebanking_path %>. Your universal, remote-access password must be at least 8 characters long and no more than 15. This password is not the same as your ATM or debit card PIN.</p>
   <p>If you've forgotten your password or haven't received one, <%= link_to "contact us", contact_path %> for quick assistance or submit a <%= link_to "Password Request", new_pinrequest_path %> now.</p>
    <p>NetBranch enables you to:</p>
    <ul>
    	<li>Monitor account balances and activity</li>
        <li>Access our FREE <%= link_to "Bill Pay", billpay_path %> service</li>
        <li>View and print cleared checks</li>
        <li>Transfer funds between EXCEL accounts in real time</li>
        <li>Make EXCEL loan payments (no stamps necessary!)</li>
        <li>Order/reorder checks</li>
        <li>View and print up to 18 months of transaction history</li>
        <li>View, print, and save on your computer, up to 24 months of statements online</li>
        <li>....and much more! </li>
    </ul>
    </div>
  </div>
 </div>
