<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Newsletter</h2>
    <div class="newsletter">
    <p class="center redtext">
    CURRENT ISSUES</p>
    <p class="center">
	<%= link_to "Spring/1st Quarter 2010", "pdf/newsletters/Spring2010.pdf", :rel=>"external" %><br />
    <%= link_to "Summer/2nd Quarter 2010", "pdf/newsletters/Summer2010.pdf", :rel=>"external" %><br />
    </p>
        </div>
    
	<div class="indent">
      <p><%= link_to image_tag("logo_getacrobat.gif", :alt=>"", :width=>88, :height=>31, :class=>"fleft image"), "http://get.adobe.com/reader/", :rel=>"confirm external" %>Adobe Acrobat Reader is required to view Newsletters. Adobe Acrobat Reader can be downloaded free of charge by clicking <%= link_to "here", "http://get.adobe.com/reader/", :rel=>"confirm external" %>.</p>
      </div>
      
      <p class="center redtext">ARCHIVED NEWSLETTERS</p>
<table width="100%">
  <tr class="bold">
  	<td>2009</td>
    <td>2008</td>
    <td>2007</td>
    <td>2006</td>
  </tr>
  <tr>
  	<td><%= link_to "Winter/4th Quarter 2009", "pdf/newsletters/Winter2009.pdf", :rel=>"external" %></td>
    <td><%= link_to "Winter/4th Quarter 2008", "pdf/newsletters/Winter2008.pdf", :rel=>"external" %></td>
    <td><%= link_to "Winter/4th Quarter 2007", "pdf/newsletters/Winter2007.pdf", :rel=>"external" %></td>
    <td><%= link_to "Winter/4th Quarter 2006", "pdf/newsletters/Winter2006.pdf", :rel=>"external" %></td>
    </tr>
  <tr>
  	<td><%= link_to "Fall/3rd Quarter 2009", "pdf/newsletters/Fall2009.pdf", :rel=>"external" %></td>
    <td><%= link_to "Fall/3rd Quarter 2008", "pdf/newsletters/Fall2008.pdf", :rel=>"external" %></td>
    <td><%= link_to "Fall/3rd Quarter 2007", "pdf/newsletters/Fall2007.pdf", :rel=>"external" %></td>
    <td><%= link_to "Fall/3rd Quarter 2006", "pdf/newsletters/Fall06.pdf", :rel=>"external" %></td>
    </tr>
  <tr>
  	<td><%= link_to "Summer/2nd Quarter 2009", "pdf/newsletters/Summer2009.pdf", :rel=>"external" %></td>
    <td><%= link_to "Summer/2nd Quarter 2008", "pdf/newsletters/Summer2008.pdf", :rel=>"external" %></td>
    <td><%= link_to "Summer/2nd Quarter 2007", "pdf/newsletters/Summer2007.pdf", :rel=>"external" %></td>
    <td>&nbsp;</td>
    </tr>
  <tr>
  	<td><%= link_to "Spring/1st Quarter 2009", "pdf/newsletters/Spring2009.pdf", :rel=>"external" %></td>
    <td><%= link_to "Spring/1st Quarter 2008", "pdf/newsletters/Spring2008.pdf", :rel=>"external" %></td>
    <td><%= link_to "Spring/1st Quarter 2007", "pdf/newsletters/Spring2007.pdf", :rel=>"external" %></td>
    <td>&nbsp;</td>
    </tr>
</table>

     </div>
    </div>
 </div>
