<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Money Market Accounts</h2>
    <p>You can open a Money Market Account with a minimum deposit of $1,000. A minimum   average daily balance of $1,000 is required to obtain the disclosed Annual   Percentage Yield. </p>
    <p class="bold">Other features include:</p>
    <ul>
    	<li>Competitive dividend <%= link_to "rates", rates_share_path %></li>
        <li>Access through <%= link_to "MoneyLine", phone_path %>, our 24-hour telephone response system, and <%= link_to "NetBranch", netbranch_path %>, our online banking system. </li>
        <li>Deposits at any branch or by mail</li>
    </ul>
    
    <p>To open and deposit funds into a Money Market account, please submit a Money Market account <%= link_to "application", new_shareapp_path %>. Money Market account withdrawals are limited due to Federal regulations to six per month, and there is an excess withdrawal fee of $5.00 for each withdrawal beyond three per month.</p>
    
    <p>Please <%= link_to "contact us", contact_path %> if you have any questions about Money Market Accounts.</p>   
  	</div>
  </div>
 </div>
