<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <p class="center"><%= link_to "Click Here to Join Now!", "pdf/EXCE_FCU_Youth_MEM_APP.pdf", :rel=>"external" %></p>
<p class="center"><%= image_tag "YoungAdultLogo.gif", :alt=>"", :width=>300, :height=>157 %></p>
<p>With Excel, young adult members ages 18 to 24 are eligible to receive a checking account with a debit card that earns rewards, plus discounts on loans when you qualify, and a chance to win $200 each month when you maintain $200 in your savings account. There are no minimum balance requirements for your savings or checking account, as long as you have at least two accounts with EXCEL Federal Credit Union. </p>

<p>Start earning ScoreCard&reg; reward points (1 point for every dollar you spend) when you sign for purchases using an EXCEL Federal Credit Union <%= link_to "MasterCard&reg; Debit Card", new_atmdebitcardapp_path %>.</p>

<p>It doesn't take long to earn a new flat screen TV or airline tickets to anywhere in the US or throughout the world. Learn more about the prizes you could be earning with each swipe by visiting the <%= link_to "ScoreCard&reg; Rewards Website", "https://www.scorecardrewards.com/general_logon.asp",  :rel=>"confirm external" %>. </p>

<p>Plus, when you’re ready to borrow money, check with us before you start shopping. We offer a discount for young members who qualify. Once approved, we’ll provide you with a pre-approved dollar amount, making it easier for you to focus on getting the best price on that new car (for example) and not on acquiring the loan. </p>

<p>We also offer free ATM service outside the over 800 Publix® Super Markets located in the southeast. Just look for the <%= link_to "Presto!", "http://store.publix.com/publix/", :rel=>"confirm external" %></p>
<p>And you can access your accounts remotely using <%= link_to "NetBranch", netbranch_path %>, our free online banking service, or via our free <%= link_to "Mobile Banking Service", mobilebanking_path %> using your web enabled cell-phone at mb.excelfcu.org*, or through <%= link_to "MoneyLine", phone_path %>, our 24-hour automated phone system at 770-441-9235 or 1-888-441-9235. </p>
<p>All EXCEL accounts are password protected. You’ll need a "universal" password to access your accounts via our online, mobile or automated phone service. Your password is established when you open your account. If you’re already a member and do not have a password, submit a <%= link_to "Password Request", new_pinrequest_path %>. </p>
<p>If you’re not already a member, submit a <%= link_to "Membership Application", "pdf/EXCE_FCU_Youth_MEM_APP.pdf", :rel=>"external" %> and we’ll contact you by the next business day. </p>
<p>Current members who would like to open a new checking account or apply for a loan, please call 770-441-9235 and press "7" for member services, or submit an online <%= link_to "Checking Account Application", new_shareapp_path %> or <%= link_to "Loan Application", new_loanapp_path %> now! </p>
<p class="disclaimer">* Mobile banking requires a web-enabled phone and access fees from your service provider may apply. </p>

  <p class="bold savenwin">Save &amp; Win Contest Winners!</p>

<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2008</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>October</td>
    <td>Alan</td>
  </tr>
  <tr>
    <td>November</td>
    <td>Julius</td>
  </tr>
  <tr>
    <td>December</td>
    <td>Haley</td>
  </tr>
</table>
<br />
<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2009</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>January</td>
    <td>Luc</td>
    </tr>
  <tr>
    <td>February</td>
    <td>Brian</td>
    </tr>
  <tr>
    <td>March</td>
    <td>Alana</td>
    </tr>
  <tr>
    <td>April</td>
    <td>Robert</td>
    </tr>
  <tr>
    <td>May</td>
    <td>Christal</td>
    </tr>
  <tr>
    <td>June</td>
    <td>Carey</td>
  </tr>
  <tr>
    <td>July</td>
    <td>Jennifer</td>
  </tr>
  <tr>
    <td>August</td>
    <td>Andre</td>
  </tr>
  <tr>
    <td>September</td>
    <td>Morgan</td>
  </tr>
  <tr>
    <td>October</td>
    <td>Dawn</td>
  </tr>    
  <tr>
    <td>November</td>
    <td>Zoe</td>
  </tr> 
  <tr>
    <td>December</td>
    <td>John</td>
  </tr>       
  
</table>

<br />

<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2010</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>January</td>
    <td>Alexis</td>
  </tr>
  <tr>
    <td>February</td>
    <td>Qiana</td>
  </tr>
    <tr>
    <td>March</td>
    <td>Christopher</td>
  </tr>
    <tr>
    <td>April</td>
    <td>Nathan</td>
  </tr>
    <tr>
    <td>May</td>
    <td>Miracle</td>
  </tr>
    <tr>
    <td>June</td>
    <td>Kamryn</td>
  </tr>
    <tr>
    <td>July</td>
    <td>Alexandra</td>
  </tr>      
</table>
    </div>
 </div>
 </div>
