<div id="container2">
  <div class="banner">
  	<div class="inxleft">
    <h2>Savings Accounts</h2>
    <p>There are plenty of reasons to save: retirement, a child's education, a special   occasion or just the security of putting away money for the future. Whatever   your reason, EXCEL Federal Credit Union has a savings product that's right for   you. Our savings accounts, certificates and IRAs offer competitive dividend   rates and such convenient features as direct deposit and payroll allocation. For   more information about savings or an application to open an account, please   click on a link in the menu to the right.</p>
<p class="center"><%= image_tag "savings_inx.jpg", :alt=>"", :width=>275, :height=>115 %></p>
    
    </div>
    <div class="inxright clearfix">
    <ul>
    	<li><%= link_to "Regular Savings", savings_regular_path %></li>
        <li><%= link_to "Kids Club (ages 12 &amp; younger)", savings_kids_path %></li>
        <li><%= link_to "CU Succeed Teen Savings (ages 13-17)", teen_path %></li>
        <li><%= link_to "Young Adults (ages 18-24)", savings_youngadults_path %></li>
        <li><%= link_to "Holiday Club Accounts", savings_club_path %></li>
        <li><%= link_to "YOU NAME IT! Savings Account", products_younameit_path %></li>
        <li><%= link_to "Savings Certificates", savings_certificates_path %></li>
        <li><%= link_to "Individual Retirement Accounts", savings_ira_path %></li>
        <li><%= link_to "Money Market Accounts", savings_moneymarket_path %></li>
        <li><%= link_to "Direct Deposit", savings_directdeposit_path %></li>
        <li><%= link_to "Payroll Allocation", savings_payroll_path %></li>
    </ul>
    </div>
  </div>
 </div>
