<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Holiday Club Accounts</h2>
    <p>The Holiday Club Account is designed to help you save all   year long for the big event. FREE withdrawals are available during fourth quarter.</p>
	<p class="bold">Features included in the Club Account include: </p>
    <ul>
    	<li>A competitive dividend rate </li>
        <li>24-Hour access through <%= link_to "MoneyLine", phone_path %>, our automated telephone system, and <%= link_to "NetBranch", netbranch_path %>, our Internet account access system </li>
        <li>Quarterly statements online or by mail </li>
        <li>Automatic payroll deposits*</li>
        <li>Deposits at any branch or by mail</li>
    </ul>
    <p>To establish a Holiday Club Account, submit an online <%= link_to "application", new_shareapp_path %>. To redirect funds from an existing automated direct deposit to a Holiday Club account, submit a <%= link_to "Payroll Allocation", "pdf/Direct Deposit  Payroll Allocation Form.pdf", :rel=>"external" %> form. Don't have direct deposit? Complete a <%= link_to "Direct Deposit Add/Change", "pdf/ddchange.pdf", :rel=>"external" %> form and submit it to your Human Resources department or depositing institution.</p>
<p>Please <%= link_to "contact us", contact_path %> if you have any questions about Club Accounts or <%= link_to "click here", calculators_path %> for the savings calculator.</p>    
    
    <p class="disclaimer">*Your employer may be able to split your deposit and direct it to more than one financial institution, or we can split your incoming deposit for you. </p>
    <p>There is a minimum deposit of $5 required to open this account. You must maintain a minimum daily balance of $5 in your account each day to obtain the disclosed annual percentage yield.</p>
	</div>
  </div>
 </div>