<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Regular Savings</h2>
    <p>When you become a member of the credit union a Savings Account is opened in your name. An initial deposit of $10 is required and includes the $5 membership fee. Members must maintain a $100 minimum daily balance in their savings account to earn dividends. There is a $2 monthly minimum balance fee accessed when balances are below $100, which is waived if you have more than one EXCEL account.</p>
    <p>**Please note: Savings Accounts are federally regulated accounts and federal regulation limits the number of withdrawals on Savings Accounts to six per month. For accounts that will require more activity, please refer to our <%= link_to "Checking Account", checking_accts_path %> page. </p>
    <p><span class="redtext2">Features of Savings Accounts include : </span></p>
    <ul>
    	<li>FREE ATM usage at area EXCEL ATMs and the over 800 <%= link_to "Presto!", "http://store.publix.com/publix/", :rel=>"confirm external" %> machines located outside Publix© Grocery Stores in the southeast. </li>
        <li>FREE online access through <%= link_to "NetBranch", netbranch_path %>. </li>
        <li>A competitive dividend rate paid quarterly on the average daily balance in your savings account.</li>
        <li>Dividends compounded daily and paid quarterly. </li>
        <li>The option to receive quarterly statements by mail or <%= link_to "email", estatements_path %>. </li>
        <li>Automated deposits to your savings account (as well as other EXCEL accounts) through <%= link_to "Direct Deposit", "pdf/ddchange.pdf", :rel=>"external" %> and <%= link_to "Payroll Allocation", "pdf/Direct Deposit  Payroll Allocation Form.pdf" %>.</li>
        <li>Worldwide ATM access!</li>
    </ul>

<p>If you have any other questions about regular savings accounts at EXCEL, <%= link_to "contact us", contact_path %>. <%= link_to "Click here", calculators_path %> for the savings calculator.</p>

  	</div>
  </div>
 </div>