<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
    <p class="center"><%= image_tag "EXCELFCUKidsClubLogo.jpg", :alt=>"", :width=>300, :height=>136 %></p>
    <p>The Kids EXCEL Savings Club is a fun way to save. It is important for children of all ages to learn the fundamentals of financial management. Young savers are invited to join the Kids EXCEL Savings Club, a program designed to help children discover the benefits of saving money. Have your children watch their savings grow through <%= link_to "NetBranch", netbranch_path %>, our online banking system. Not only will they be encouraged to save more money, they will also learn about the benefits of saving early, compounding dividends, and managing their money to earn maximum returns. </p>
    <p>Plus, when kids maintain $200 in their savings account, they're automatically entered into our monthly "Save &amp; Win" drawing. Winners receive $200 or an iPod valued at $200. (See below for a list of winners and official contest rules).</p>
    <p class="center bold"><%= link_to "Submit a Kids EXCEL Club Membership Application now!<br />Click here to join!", "pdf/EXCE_FCU_Youth_MEM_APP.pdf", :rel=>"external" %></p>
<p class="bold">Kids Club Account:</p>
<ul>
<li>Only requires a $5 deposit to open and the $5 membership fee is waived</li>
<li>Savings account for children ages 12 and under</li>
<li>No minimum balance requirements</li>
<li>Dividends paid and compounded quarterly on accounts with balances of $100 or more</li>
</ul>

<p>Please note Kids EXCEL Club Accounts are savings accounts and withdrawals are limited due to Federal Regulation to six per month. Withdrawals in excess of three per month incur a $5 fee.</p>
<p>For more information about the Kids Club, please call 770-441-9235 or 1-888-441-9235.</p>
<p class="bold savenwin">Save &amp; Win Contest Winners!</p>

<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2008</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>October</td>
    <td>Alan</td>
  </tr>
  <tr>
    <td>November</td>
    <td>Julius</td>
  </tr>
  <tr>
    <td>December</td>
    <td>Haley</td>
  </tr>
</table>
<br />
<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2009</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>January</td>
    <td>Luc</td>
    </tr>
  <tr>
    <td>February</td>
    <td>Brian</td>
    </tr>
  <tr>
    <td>March</td>
    <td>Alana</td>
    </tr>
  <tr>
    <td>April</td>
    <td>Robert</td>
    </tr>
  <tr>
    <td>May</td>
    <td>Christal</td>
    </tr>
  <tr>
    <td>June</td>
    <td>Carey</td>
  </tr>
  <tr>
    <td>July</td>
    <td>Jennifer</td>
  </tr>
  <tr>
    <td>August</td>
    <td>Andre</td>
  </tr>
  <tr>
    <td>September</td>
    <td>Morgan</td>
  </tr>
  <tr>
    <td>October</td>
    <td>Dawn</td>
  </tr>    
  <tr>
    <td>November</td>
    <td>Zoe</td>
  </tr> 
  <tr>
    <td>December</td>
    <td>John</td>
  </tr>       
  
</table>

<br />

<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2010</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>January</td>
    <td>Alexis</td>
  </tr>
  <tr>
    <td>February</td>
    <td>Qiana</td>
  </tr>
    <tr>
    <td>March</td>
    <td>Christopher</td>
  </tr>
    <tr>
    <td>April</td>
    <td>Nathan</td>
  </tr>
    <tr>
    <td>May</td>
    <td>Miracle</td>
  </tr>
    <tr>
    <td>June</td>
    <td>Kamryn</td>
  </tr>
    <tr>
    <td>July</td>
    <td>Alexandra</td>
  </tr>      
</table>

</td>
    <td class="center"><p><%= link_to image_tag("Kids_Teen_V_Banner.jpg", :alt=>"", :width=>230, :height=>780), "http://www.cusucceed.net/index.php?cuid=10767981", :rel=>"confirm external" %></p>
      <p class="bold"><%= link_to "Save &amp; Win<br />
        Official Contest Rules", "pdf/SAVEANDWINOfficialContestRules.pdf", :rel=>"external" %>
      </p></td>
  </tr>
</table>

    </div>
 </div>
 </div>
