<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Direct Deposit</h2>
    <p>You can arrange to have all or a portion of your payroll,   Social Security, pension or any other recurring check deposited directly into   your EXCEL checking and savings accounts. Eliminate delays in depositing your   check or the need to stand in line<br />
      - choose direct deposit! </p>
    <p>To begin making automatic deposits to EXCEL, please fill out the <%= link_to "Direct Deposit Add/Change Form", "pdf/ddchange.pdf" %> and submit it to your employer or depositor(s). Be sure to have your 7-digit EXCEL member account number available when completing this form. Don't have an EXCEL account established yet? Complete a <%= link_to "Membership Application", new_membershipagree_path %> first. </p>
    <p>To disperse funds amongst multiple EXCEL accounts, complete the <%= link_to "Direct Deposit Payroll Allocation form", "pdf/Direct Deposit  Payroll Allocation Form.pdf" %>. Otherwise all your funds will be placed in your EXCEL savings account. If you're already a member and would like to open additional EXCEL accounts, submit an updated <%= link_to "Membership Application", new_membershipagree_path %> along with your <%= link_to "Direct Deposit Payroll Allocation", "pdf/Direct Deposit  Payroll Allocation Form.pdf" %> instructions.</p>
    <p>For more information on switching your checking accounts to EXCEL Federal Credit Union, review our <%= link_to "Account Switch Kit", checking_switch_path %>.</p>
    <p>Please <%= link_to "contact us", contact_path %> if you have any questions.</p>
  	</div>
  </div>
 </div>
