<div id="container2">
  <div class="banner">
  	<div class="inxleft">
    <h2>Services</h2>
    <p>At EXCEL, we offer a wide variety of services to meet the needs of our members. Looking for the closest automatic teller machine? Search under ATM services. Need to know how to reach MoneyLine, our 24-hour telephone response system? That information is here too. Please click on the menu at right to find out more about these and other services offered by EXCEL Federal Credit Union.</p>
    
    <p class="center"><%= image_tag "services_inx.jpg", :alt=>"", :width=>275, :height=>115 %></p>
    
    </div>
    <div class="inxright clearfix">
    <ul>
    	<li><%= link_to "NetBranch/Online Banking", netbranch_path %></li>
        <li><%= link_to "Mobile Banking", mobilebanking_path %></li>
        <li><%= link_to "Direct Deposit", directdeposit_path %></li>
        <li><%= link_to "Bill Pay Service", billpay_path %></li>
        <li><%= link_to "eStatements/Online Statements", estatements_path %></li>
        <li><%= link_to "ATM Services", atmlocations_path %></li>
        <li><%= link_to "Moneyline/24-Hour Response", phone_path %></li>
        <li><%= link_to "Scorecard Rewards", scorecard_path %></li>
        <li><%= link_to "Car Buying Service", carbuying_path %></li>
        <li><%= link_to "Identity Theft Services", idtheft_path %></li>
        <li><%= link_to "Resources &amp; Links", links_path %></li>
    </ul>
    </div>
  </div>
 </div>
