<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
    <p class="center"><%= image_tag "EXCELFCUTeenClubLogo.jpg", :alt=>"", :width=>300, :height=>190 %></p>
    <p>Welcome to CU Succeed! </p>
    <p>CU Succeed is a financial resource center for our teen members ages
13 to 17. </p>
	<p>Everything from applying for your first job, to finding and applying for scholarships, to buying your first car is discussed for teens and by teens on the <%= link_to "CU Succeed Website", "http://www.cusucceed.net/index.php?cuid=10767981", :rel=>"confirm external" %>. Teens ages 13 through 17, use the EXCEL CU Succeed Teen Club to save for a rainy day and "spend with sense."</p>
    <p>The CU Succeed Teen Club includes a savings and a checking account, along with the option of carrying a MasterCard® debit card that accesses both accounts (if that's okay with your parents).*</p>
    <p>Plus, when teens maintain $200 in their savings account, they’re automatically entered into our monthly &quot;Save &amp; Win&quot; drawing. Winners receive $200 or an iPod&reg; valued at $200. See below for a list of winners and the official contest rules.</p>
    <p class="bold">To open a CU Succeed Teen Club Account <%= link_to "submit an EXCEL Club Membership Application by clicking here now!", "pdf/EXCE_FCU_Youth_MEM_APP.pdf", :rel=>"external" %></p>
<p>Watch your savings grow and monitor your spending with <%= link_to "NetBranch", netbranch_path %>, our FREE online banking service. You can even view the activity on your accounts with your web enabled phone via our new <%= link_to "mobile banking service", mobilebanking_path %> at mb.excelfcu.org. </p>
<p>Questions? Call 770-441-9235 or 1-888-441-9235. </p>

  <p class="bold savenwin">Save &amp; Win Contest Winners!</p>

<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2008</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>October</td>
    <td>Alan</td>
  </tr>
  <tr>
    <td>November</td>
    <td>Julius</td>
  </tr>
  <tr>
    <td>December</td>
    <td>Haley</td>
  </tr>
</table>
<br />
<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2009</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>January</td>
    <td>Luc</td>
    </tr>
  <tr>
    <td>February</td>
    <td>Brian</td>
    </tr>
  <tr>
    <td>March</td>
    <td>Alana</td>
    </tr>
  <tr>
    <td>April</td>
    <td>Robert</td>
    </tr>
  <tr>
    <td>May</td>
    <td>Christal</td>
    </tr>
  <tr>
    <td>June</td>
    <td>Carey</td>
  </tr>
  <tr>
    <td>July</td>
    <td>Jennifer</td>
  </tr>
  <tr>
    <td>August</td>
    <td>Andre</td>
  </tr>
  <tr>
    <td>September</td>
    <td>Morgan</td>
  </tr>
  <tr>
    <td>October</td>
    <td>Dawn</td>
  </tr>    
  <tr>
    <td>November</td>
    <td>Zoe</td>
  </tr> 
  <tr>
    <td>December</td>
    <td>John</td>
  </tr>       
  
</table>

<br />

<table width="50%" border="0" cellspacing="0" cellpadding="0" class="savenwin">
  <tr>
    <td class="bold half">2010</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>January</td>
    <td>Alexis</td>
  </tr>
  <tr>
    <td>February</td>
    <td>Qiana</td>
  </tr>
    <tr>
    <td>March</td>
    <td>Christopher</td>
  </tr>
    <tr>
    <td>April</td>
    <td>Nathan</td>
  </tr>
    <tr>
    <td>May</td>
    <td>Miracle</td>
  </tr>
    <tr>
    <td>June</td>
    <td>Kamryn</td>
  </tr>
    <tr>
    <td>July</td>
    <td>Alexandra</td>
  </tr>      
</table>
  </td>
    <td class="center"><p><%= link_to image_tag("Kids_Teen_V_Banner.jpg", :alt=>"", :width=>230, :height=>780), "http://www.cusucceed.net/index.php?cuid=10767981", :rel=>"confirm external" %></p>
      <p class="bold">Save &amp; Win <br /><%= link_to "Official Contest Rules", "pdf/SAVEANDWINOfficialContestRules.pdf", :rel=>"external" %></p></td>
  </tr>
</table>

    </div>
 </div>
 </div>
